#icenter_storefront {
	margin: 0;
	padding: 0;
	background-color: #efeff4;
	height: 100%;
	overflow:hidden; 
}
#icenter_storefront header{
	width: 100%;
	height: 14vw;
	background-color: #fff;	
	position: relative;
}
#icenter_storefront header img{
	width: 6.9vw;
	height: 6.9vw;
	display: inline-block;
	margin: 4vw 0px 0px 5.3vw;
}
#icenter_storefront .storefront_face_active{
	height: 20vw;
	background-size: 20%;
	border-top: 1px solid #eee;
	color: #676C75;
	font-size: 4.3vw;
}
.storefront_face_active_text_p{
	font-size: 3.2vw;
	color: #A8A8A8;
	margin-top: 1.3vw;
}
#icenter_storefront .storefront_face_active_text{
	margin: 4vw 34.7vw;
}
#icenter_storefront .storefront_face_active{
	display: none;
}
#icenter_storefront .storefront_detail{
	height: 9.5vw;
	display: inline-block;
	font-size: 4.2vw;
	color: #4E4D53;
	vertical-align: top;
	margin: 3.9vw 0px 0px 24vw;
	
}
#icenter_storefront .storefront_face{
	height: 9.5vw;
	display: inline-block;
	font-size: 4.2vw;
	color: #4E4D53;
	vertical-align: top;
	margin: 3.9vw 0px 0px 4vw;
}
#icenter_storefront .footprint_contain_x {
	width: 100%;
	height: 36vw;
	background-color: #fff;
}
#icenter_storefront .footprint_contain_x ul{
	width: 100%;
}
#icenter_storefront .footprint_contain_x ul li{
	float: left;
}
#icenter_storefront .foot_li_x5_img_x{
	width: 30.7vw;
	height: 30.7vw;
	margin-right: 2.7vw;
}
#icenter_storefront .footprint_text_x{
	font-size: 3.7vw;
}
#icenter_storefront .footprint_price_x{
	color: #EB6F42;
    margin-top: 5.9vw;
    width: 66.1vw;
    height: 14.8vw;
    border-bottom: 1px solid #EFEFF4;
}
#icenter_storefront .footprint_price_button_x{
	display: inline-block;
	width: 24vw;
	height: 6.4vw;
	text-align: center;
	vertical-align: top;
	border: 1px solid #EB6F42;
	border-radius: 5.3vw;
	font-size: 3.7vw;
	font-weight: bold;
	padding-top: 1.1vw;
	overflow: hidden;
}
#icenter_storefront .footprint_price_1_x{
	display: inline-block;
	margin-top: 1.3vw;
}
#icenter_storefront .footprint_price_button_x{
	margin-left: 16vw;
}
#icenter_storefront .footprint_date{
	height: 12.6vw;
	background: url(../images/center/center_customer_detail.png) no-repeat center center;
	background-size: 50%;
}
#icenter_storefront .footprint_contain {
	width: 49vw;
	height: 58vw;
	background-color: #fff;
	float: left;
	border: 0.5vw solid #eee;
	overflow: hidden;
}
#icenter_storefront .footprint_contain ul{
	width: 50vw;
	display: inline-block;
}
#icenter_storefront .footprint_contain ul li{
	background: #fff;
	text-align: center;
}
#icenter_storefront .foot_li_x5_img{
	width: 30.7vw;
	height: 30.7vw;
	margin-right: 2.7vw;
}
#icenter_storefront .footprint_text{
	font-size: 3.7vw;
}
#icenter_storefront .footprint_price{
	color: #EB6F42;
    margin-top: 1vw;
    width: 49vw;
    height: 10.3vw;
}
#icenter_storefront .footprint_price_button{
	display: inline-block;
	width: 24vw;
	height: 6.4vw;
	text-align: center;
	vertical-align: top;
	border: 1px solid #EB6F42;
	border-radius: 5.3vw;
	font-size: 3.7vw;
	font-weight: bold;
	padding-top: 1.1vw;
	overflow: hidden;
}
#icenter_storefront .footprint_price_1{
	display: inline-block;
	margin-top: 1.3vw;
}
#icenter_storefront .footprint_price_button{
	margin-left: 16vw;
}

#icenter_storefront .storefront_detail_active{
	overflow-y: auto;
} 

#icenter_storefront .on{
	border-bottom: 2px solid #EA5514;
}

