#icenter_pageHome{
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #efeff4;
	color: #545760;
}
#icenter_pageHome header{
	width: 100%;
	height: 40vw;
	background: url(../../images/center/center_bg.png) no-repeat;
	background-size: cover; 
	overflow: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 8;
}
#icenter_pageHome article {
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#icenter_pageHome .head_user{
	width: 100%;
	overflow: hidden;
}
#icenter_pageHome .head_portrait{
	width: 11vw;
	height: 11vw;
	margin-left: 5vw;
	margin-top: 5vw;
	padding: 1vw;
	border: 1px solid #e5e5e5;
	border-radius: 50%;
	background-color: #e5e5e5;
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
}
#icenter_pageHome .img_icon{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}
#icenter_pageHome .user_name{
	display: inline-block;
	position: relative;
	top: -4vw;
	left: 1vw;
	color: #FAD2BA;
}
#icenter_pageHome .header_vip{
    width: 24vw;
    height: 8vw;
    border-radius: 15px;
    border: 1px solid #F9B98D;
    display: inline-block;
    color: #FAD2BA;
    text-align: center;
    font-size: 3.5vw;
    float: right;
    margin-right: 6vw;
    margin-top: 6vw;
}
#icenter_pageHome .vip_span{
	line-height: 8vw;
}
#icenter_pageHome .img_expand{
	width: 3.7vw;
	height: 5.3vw;
	position: relative;
    top: 1.5vw;
    left: 0%;
}
#icenter_pageHome .head_active {
	text-align: center;
    margin-top: 4vw;
}
#icenter_pageHome .head_active div{
    width: 38vw;
    height: 13.3vw;
    text-align: center;
    display: inline-block;
    margin: 0 5vw;
}
#icenter_pageHome .img_header{
	width: 6.6vw;
	height: 7.4vw;
}
#icenter_pageHome .header_catenate{
	color: white;
	font-size: 3.7vw;
	display: block;
	text-align: center;
}
#icenter_pageHome .article_content{
	width: 100%;
	height: 12vw;
	background-color: #fff;
	margin-top: 2.4vw;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
}
#icenter_pageHome .img_order{
	width: 5.3vw;
	height: 5.9vw;
	display: inline-block;
    margin: 2.9vw 4.5vw;
}
#icenter_pageHome .order_text{
	color: #000;
    margin-top: -9.8vw;
    margin-left: 14vw;
	font-size: 4.3vw;
	font-family: "Microsoft YaHei";
}
#icenter_pageHome .order_content{
	width: 100%;
	height: 19vw;
	background-color: #fff;
	overflow: hidden;
}
#icenter_pageHome .content_wrap_food{
	width: 25%;
	height: 100%;
	text-align: center;
	float: left;
}
#icenter_pageHome .content_wrap_food >span {
	display: block;
}
#icenter_pageHome .content_wrap_food_1{
	color: #E95829;
	display: inline-block;
    height: 11vw;
    line-height: 12vw;
}
#icenter_pageHome .content_wrap_food_2{
	font-size: 3.7vw;
	color: #545760;
}
#icenter_pageHome .order_control_wallet{
    width: 5vw;
    height: 5vw;
    display: inline-block;
    margin-top: 3vw;
    margin-bottom: 0.6vw;
}
#icenter_pageHome .order_img_span{
	position: relative;
	float: left;
	width: 25%;
	height: 100%;
	text-align: center;
}
#icenter_pageHome .order_img_span_22{
	position: relative;
	float: left;
	width: 16%;
	height: 9.6vw;
	margin-left: 11px;
	margin-top: 10px;	
}
#icenter_pageHome .order_control{
    width: 5vw;
    height: 5vw;
    margin-top: 4vw;
    margin-bottom: 1vw;
}
#icenter_pageHome .order_business{
	font-size: 3.7vw;
	color: #545760;
	display: block;
	text-align: center;
} 
#icenter_pageHome .order_business_2{
	font-size: 3.5vw;
	color: #545760;	
}
#icenter_pageHome .order_control_2{
	width: 5.9vw;
	height: 5vw;
	margin-left: 4.8vw;	
}
#icenter_pageHome .order_control_3{
	width: 22px;
	height: 19px;
	margin-left: 14px;
	margin-top: 5px;		
}
#icenter_pageHome .order_control_4{
	width: 5.9vw;
	height: 5.6vw;
}
#icenter_pageHome .order_control_5{
	width: 6.4vw;
	height: 6.4vw;
    margin-top: 3vw;
}
#icenter_pageHome .order_top_tips{
    position: absolute;
    background-color: #E85223;
    color: #fff;
    border-radius: 10vw;
    font-size: 3.2vw;
    top: 1vw;
    right: 4vw;
    padding: 0.2vw 1.5vw .6vw;
}
#icenter_pageHome #article_con_tent{
    background: #fff url(../../images/center/left_black.png) no-repeat 91vw 3.5vw;
	background-size: 3.2vw 5.3vw;
}
#icenter_pageHome >article >div.tools {
	margin-bottom: 50px;
	height: inherit;
}
#icenter_pageHome >article >div.tools >div {
	width: 25%;
	height: 18vw;
}
#icenter_pageHome >article >div.tools >div >span {
	display: block;
}
#icenter_pageHome >article >div.tools >div >span:first-child {

}
#icenter_pageHome >article >div.tools >div >img {
	width: 6vw;
	height: 6vw;
    margin-top: 2.5vw;
    margin-bottom: 0.6vw;
}
#icenter_pageHome >div.footer {
	background-color: #FFFFFF;
	border-top: 1px solid #D5D5D8;
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 56px;
}
#icenter_pageHome >div.footer nav {
	text-align: center;
	width: 100%;
	height: 100%;
}
#icenter_pageHome >div.footer nav >li {
 position: relative;
 display: block;
 color: #81858B;
 height: 100%;
 width: 25%;
 float: left;
}
#icenter_pageHome >div.footer nav >li:before {
 content: '';
 display: inline-block;
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 width: 100%;
 height: 50%;
 margin-top: 5px;
}
#icenter_pageHome >div.footer span {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 8%;
	font-size: 14px;
}
@media screen and (min-width: 410px) {
	#icenter_pageHome >div.footer {
		height: 60px;
		bottom: -1px;
	}
	#icenter_pageHome >div.footer span {
		bottom: 6%;
	}
}
@media screen and (max-width: 350px) {
	#icenter_pageHome >div.footer {
		height: 44px;
	}
	#icenter_pageHome >div.footer span {
		font-size: 12px;
		bottom: 6%;
	}
}
#icenter_pageHome >div.footer nav >li.active {
	color: #EA5514;
}
#icenter_pageHome >div.footer nav >li:nth-child(1):before {
 background-image: url(../../images/index/homeOff.png);
}
#icenter_pageHome >div.footer nav >li:nth-child(1).active:before {
	background-image: url(../../images/index/homeOn.png);
}
#icenter_pageHome >div.footer nav >li:nth-child(2):before {
 background-image: url(../../images/index/carCrvOff.png);
}
#icenter_pageHome >div.footer nav >li:nth-child(2).active:before {
 background-image: url(../../images/index/carCrvOn.png);
}
#icenter_pageHome >div.footer nav >li:nth-child(3):before {
 background-image: url(../../images/index/presentOff.png);
}
#icenter_pageHome >div.footer nav >li:nth-child(3).active:before {
	background-image: url(../../images/index/presentOn.png);
}
#icenter_pageHome >div.footer nav >li:nth-child(4):before {
 background-image: url(../../images/index/centerOff.png);
}
#icenter_pageHome >div.footer nav >li:nth-child(4).active:before {
	background-image: url(../../images/index/centerOn.png);
}
#icenter_pageHome >article >div.confirm {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    z-index: 9;
}
#icenter_pageHome >article >div.confirm h4 {
    height: 50px;
    margin: 0;
    line-height: 51px;
    text-align: center;
    font-size: 16px;
}
#icenter_pageHome >article >div.confirm p {
    color: #999;
    border-bottom: 1px solid #D6D6DB;
    padding: 0;
    margin: 0;
    height: 70px;
    line-height: 30px;
    text-align: center;
}
#icenter_pageHome >article >div.confirm >div {
    height: 160px;
    width: 260px;
    position: absolute;
    background-color: #fff;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#icenter_pageHome >article >div.confirm >div::after {
    content: '';
    display: block;
    clear: both;
}
#icenter_pageHome >article >div.confirm button {
    width: 49%;
    height: 39px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}
#icenter_pageHome >article >div.confirm a {
    width: 49%;
    height: 39px;
    font-size: 16px;
    background-color: #fff;
    color: #EA5514;
    border-left: 1px solid #D6D6DB;
    display: inline-block;
    text-align: center;
    float: right;
    line-height: 39px;
}