<div>
	<header>
		<div class="head_user">
			<div class="personal_info">
				<div class="head_portrait">
					<img src="./images/center/header_icon.png" alt="" class="img_icon">
				</div>
				<span class="user_name">未登录</span>
			</div>
			<!-- <div class="header_vip">
				<span class="vip_span">金牌会员</span>
				<img src="./images/center/left_white.png" alt="" class="img_expand">
			</div> -->
		</div>
		<div class="head_active">
			<div id="head_active_1">
				<img src="./images/center/power_adf.png" alt="" class="img_header">
				<span class="header_catenate">邀请有礼</span>
			</div>
			<!-- <div id="head_active_2">
				<img src="./images/center/power_ads.png" alt="" class="img_header">
				<span class="header_catenate">加油卡</span>
			</div> -->
			<div id="head_active_3">
				<img src="./images/center/power_adt.png" alt="" class="img_header">
				<span class="header_catenate">我的车辆</span>
			</div>
		</div>
	</header>
	<article>
		<div class="order_content" style="margin-top:42.4vw;">
			<div class="content_wrap_food" id="">
				<span class="content_wrap_food_1" id="reward">0.00</span>
				<span class="content_wrap_food_2">我的积分</span>
			</div>
			<div class="content_wrap_food" id="content_account_wrap">
				<span class="content_wrap_food_1" id="account">0</span>
				<span class="content_wrap_food_2">优惠券</span>
			</div>
			<div class="content_wrap_food" id="bin">
				<span class="content_wrap_food_1" id="accound">0.00</span>
				<span class="content_wrap_food_2">势力币</span>
			</div>
			<div class="content_wrap_food" id="wallet">
				<span class="content_wrap_food_1">
					<img src="./images/center/center_wallet.png" class="order_control_wallet">
				</span>
				<span class="content_wrap_food_2">我的钱包</span>
			</div>
		</div>
		<div class="article_content" id="article_con_tent">
			<img src="./images/center/note_pic.png" alt="" class="img_order">
			<p class="order_text" id="old_list">订单记录</p>
		</div>
		<div class="order_content">
			<div class="order_img_span" id="order_img_span_1">
				<img src="./images/center/payment_pic.png" alt="" class="order_control">
				<span class="order_business">待付款</span>
			</div>
			<div class="order_img_span" id="order_img_span_2">
				<img src="./images/center/use_pic.png" alt="" class="order_control">
				<span class="order_business">待发货</span>
			</div>
			<div class="order_img_span" id="order_img_span_3">
				<img src="./images/center/make_pic.png" alt="" class="order_control">
				<span class="order_business">待收货</span>
			</div>
			<div class="order_img_span" id="order_img_span_4">
				<img src="./images/center/center_evaluate.png" alt="" class="order_control">
				<span class="order_business">已完成</span>
			</div>
			<div class="order_img_span" id="order_img_span_5">
				<img src="./images/center/center_refund.png" alt="" class="order_control">
				<span class="order_business">评价</span>
			</div>
		</div>
		<div class="article_content" id="article_content_1">
			<img src="./images/center/center_ineed.png" class="img_order" style="width:5.5vw;height:5.5vw">
			<p class="order_text">必备工具</p>
		</div>
		<div class="order_content tools">
			<div class="content_wrap_food" id="my_cover">
				<span class="content_wrap_food_1">0</span>
				<span class="content_wrap_food_2">我的收藏</span>
			</div>
			<div class="content_wrap_food" id="home_pageHome_store">
				<span class="content_wrap_food_1">0</span>
				<span class="content_wrap_food_2">关注的店面</span>
			</div>
			<div class="content_wrap_food" id="footprint">
				<span class="content_wrap_food_1">0</span>
				<span class="content_wrap_food_2">我的足迹</span>
			</div>
			<div class="content_wrap_food" id="order_content_need_4">
				<span class="content_wrap_food_1">
					<img src="./images/center/center_service.png" alt="" class="order_control_5">
				</span>
				<span class="order_business">帮助与客服</span>
			</div>
			<div class="content_wrap_food" id="advice" style="margin-bottom:20px">
				<span class="content_wrap_food_1">
					<img src="./images/center/message_light.png" alt="" class="order_control_5">
				</span>
				<span class="order_business">意见反馈</span>
			</div>
			<div class="content_wrap_food" id="login_set_out">
				<span class="content_wrap_food_1">
					<img src="./images/center/center_settings.png" alt="" class="order_control_5">
				</span>
				<span class="order_business" id="">设置</span>
			</div>
		</div>
		<div class="confirm">
			<div>
				<h4>帮助与客服</h4>
				<p>0531-85523333<br />工作时间：9:30-17:30</p>
				<button class="cancel">取消</button>
				<a class="confirm" href="tel:0531-85523333">呼叫</a>
			</div>
		</div>
	</article>
	<div class="footer">
		<nav>
			<li data-tab="index"><span>首页</span></li>
			<li data-tab="carCrv"><span>服务网点</span></li>
			<li data-tab="activity"><span>1元洗车</span></li>
			<li class="active" data-tab="center"><span>个人中心</span></li>
		</nav>
	</div>
	<script id="icenter_pageHome_infos" type="text/html">
		<div class="order_content" style="margin-top:42.4vw;">
			<div class="content_wrap_food" id="">
				<span class="content_wrap_food_1" id="reward">{{d.RewardBalance}}</span>
				<span class="content_wrap_food_2">我的积分</span>
			</div>
			<div class="content_wrap_food" id="content_account_wrap">
				<span class="content_wrap_food_1" id="account">{{d.VoucherCount}}</span>
				<span class="content_wrap_food_2">优惠券</span>
			</div>
			<div class="content_wrap_food" id="bin">
				<span class="content_wrap_food_1" id="accound">{{d.Balance}}</span>
				<span class="content_wrap_food_2">势力币</span>
			</div>
			<div class="content_wrap_food" id="wallet">
				<span class="content_wrap_food_1">
					<img src="./images/center/center_wallet.png" class="order_control_wallet">
				</span>
				<span class="content_wrap_food_2">我的钱包</span>
			</div>
		</div>
		<div class="article_content" id="article_con_tent">
			<img src="./images/center/note_pic.png" alt="" class="img_order">
			<p class="order_text" id="old_list">订单记录</p>
		</div>
		<div class="order_content">
			<div class="order_img_span" id="order_img_span_1">
				{{if d.OrderStatus1 && d.OrderStatus1 > 0}}
				<div class="order_top_tips" id="payment">{{d.OrderStatus1}}</div>
				{{/if}}
				<img src="./images/center/payment_pic.png" alt="" class="order_control">
				<span class="order_business">待付款</span>
			</div>
			<div class="order_img_span" id="order_img_span_2">
				{{if d.OrderStatus2 && d.OrderStatus2 > 0}}
				<div class="order_top_tips" id="deliverGoods">{{d.OrderStatus2}}</div>
				{{/if}}
				<img src="./images/center/use_pic.png" alt="" class="order_control">
				<span class="order_business">待发货</span>
			</div>
			<div class="order_img_span" id="order_img_span_3">
				{{if d.OrderStatus4 && d.OrderStatus4 > 0}}
				<div class="order_top_tips" id="goodsReceipt">{{d.OrderStatus4}}</div>
				{{/if}}
				<img src="./images/center/make_pic.png" alt="" class="order_control">
				<span class="order_business">待收货</span>
			</div>
			<div class="order_img_span" id="order_img_span_4">
				{{if d.NotReviewCount && d.NotReviewCount > 0}}
				<div class="order_top_tips" id="assessment">{{d.NotReviewCount}}</div>
				{{/if}}
				<img src="./images/center/center_evaluate.png" alt="" class="order_control">
				<span class="order_business">已完成</span>
			</div>
			<div class="order_img_span" id="order_img_span_5">
				<img src="./images/center/center_refund.png" alt="" class="order_control">
				<span class="order_business">评价</span>
			</div>
		</div>
		<div class="article_content" id="article_content_1">
			<img src="./images/center/center_ineed.png" class="img_order" style="width:5.5vw;height:5.5vw">
			<p class="order_text">必备工具</p>
		</div>
		<div class="order_content tools">
			<div class="content_wrap_food" id="my_cover">
				<span class="content_wrap_food_1">{{d.WishListCount}}</span>
				<span class="content_wrap_food_2">我的收藏</span>
			</div>
			<div class="content_wrap_food" id="home_pageHome_store">
				<span class="content_wrap_food_1">{{d.StoreFollowCount}}</span>
				<span class="content_wrap_food_2">关注的店面</span>
			</div>
			<div class="content_wrap_food" id="footprint">
				<span class="content_wrap_food_1">{{d.ProductFootCount}}</span>
				<span class="content_wrap_food_2">我的足迹</span>
			</div>
			<div class="content_wrap_food" id="order_content_need_4">
				<span class="content_wrap_food_1">
					<img src="./images/center/center_service.png" alt="" class="order_control_5">
				</span>
				<span class="order_business">帮助与客服</span>
			</div>
			<div class="content_wrap_food" id="advice" style="margin-bottom:20px">
				<span class="content_wrap_food_1">
					<img src="./images/center/message_light.png" alt="" class="order_control_5">
				</span>
				<span class="order_business">意见反馈</span>
			</div>
			<div class="content_wrap_food" id="login_set_out">
				<span class="content_wrap_food_1">
					<img src="./images/center/center_settings.png" alt="" class="order_control_5">
				</span>
				<span class="order_business" id="">设置</span>
			</div>
			{{if d.HasPhoneQR == '1'}}
			<div class="content_wrap_food" id="move_car_qrcode">
				<span class="content_wrap_food_1">
					<img src="./images/center/qr_code.png" alt="" class="order_control_5">
				</span>
				<span class="order_business" id="">我的车贴</span>
			</div>
			{{/if}}
		</div>
		<div class="confirm">
			<div>
				<h4>帮助与客服</h4>
				<p>0531-85523333<br />工作时间：9:30-17:30</p>
				<button class="cancel">取消</button>
				<a class="confirm" href="tel:0531-85523333">呼叫</a>
			</div>
		</div>
	</script>
</div>
