#home_invite {
	position: relative;
    height: 100%;
}
#home_invite >div.header {
	background-color: #EA5514;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 44px;
}
@media screen and (min-width: 410px) {
	#home_invite >div.header {
		height: 48px;
	}
}
@media screen and (max-width: 350px) {
	#home_invite >div.header {
		height: 40px;
	}
}
#home_invite >div.header >a.goBack {
	background: url(../../images/common/round_left.png) no-repeat;
	background-size: contain;
	display: inline-block;
    width: 28px;
    height: 28px;
    margin: 8px 0 0 12px;
}
#home_invite >div.header >span.title {
	color: #fff;
    text-align: center;
    margin: auto;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    top: 1px;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 60%;
    font-size: 16px;
}
@media screen and (min-width: 410px) {
	#home_invite >div.header >a.goBack {
	    width: 30px;
	    height: 30px;
	}
	#home_invite >div.header >span.title {
		height: 32px;
		line-height: 32px;
	}
}
@media screen and (max-width: 350px) {
	#home_invite >div.header >a.goBack {
	    width: 24px;
	    height: 24px;
	}
	#home_invite >div.header >span.title {
		height: 26px;
		line-height: 26px;
	}
}
#home_invite div.main {
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
    width: 100%;
    top: 44px;
}
@media screen and (min-width: 410px) {
    #home_invite >div.main {
        top: 48px;
    }
}
@media screen and (max-width: 350px) {
    #home_invite >div.main {
        top: 40px;
    }
}
#home_invite div.main >img {
	width: 100%;
}
#home_invite div.main >div {
	margin-top: -10px;
}
#home_invite div.main >div div.row {
    padding: 0 5% 25px;
}
#home_invite div.main div.row >div {
    text-align: center;
    display: inline-block;
    width: 32%;
}
#home_invite div.main div.row img {
	max-width: 50%;
}
#home_invite_qrcode {
	padding: 10px 0 0 10px;
	text-align: center;
}
#home_invite_qrcode >div {
	margin-bottom: 10px;
}