#icenter_gascard {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		background-color: #F0EFF5;
}
#icenter_gascard header{
		width: 100%;
		height: 12vw;
		background-color: #fff;
		overflow: hidden;
		position: relative;
}
#icenter_gascard header img{
		width: 6.93vw;
		height: 6.93vw;
		display: inline-block;
		margin: 2vw 0px 0px 5.33vw;
}
#icenter_gascard header span{
		display: inline-block;
		font-size: 4.6vw;
		color: #4E4D53;
		vertical-align: top;
		margin: 3.3vw 0px 0px 24vw;
}
#icenter_gascard aside p,aside span,div{
		font-size: 3.73vw;
}
