<div>
    <div class="header">
        <a href="javascript:void(0)"><img src="images/common/round_left_blue.png"></a>
        <p>预约记录</p>
    </div>
    <div class="nav">
        <ul>
            <li class="active" data-pane="notAppoint">可用服务</li>
            <li data-pane="hadAppoint">已预约</li>
            <li data-pane="notVerify">预约已完成</li>
            <li data-pane="hadComplite">服务已完成</li>
        </ul>
    </div>
    <div class="content">
        <div class="notAppoint active">
            <script id="icenter_appointmentList_notAppoint" type="text/html">
            	{{if notAppointLength == 0}}
            	<div class='noOrders'>
            		<img src='images/orders/no_orders.png'>
            		<p>暂无记录</p>
            	</div>
            	{{/if}}
                {{each notAppointData as notAppoint}}
                <div class="oneAppoint" data-id={{notAppoint.ID}} data-num={{notAppoint.ServiceNum}}>
                    <div class="appointHeader">
                        <p class="orderID">
                            <span>订单编号：<span>{{notAppoint.OrderID}}</span></span>
                            {{if !notAppoint.AppointID}}
                            <span class="appointStatus">未预约,剩余服务数量:<b>{{notAppoint.ServiceNum}}</b></span>
                            {{/if}}
                            {{if notAppoint.AppointID}}
                            <span class="appointStatus">已成功预约第 <span style="color: #000;font-weight: bold;">{{notAppoint.ServiceCount - notAppoint.ServiceNum + 1}}</span> 次服务</span>
                            {{/if}}
                        </p>
                        <p class="buytime">
                            <!--服务编号:{{notAppoint.ID}}-->
                            <span>服务购买时间:{{timeFilter(notAppoint.AddTime)}}</span>
                        </p>
                    </div>
                    <div class="appointContent" data-id="{{notAppoint.ID}}" data-pane="notAppoint">
                        <img src="{{serverAddr}}Img/{{$imports.smallSize(notAppoint.ProductImg)| imgFilter}}">
                        <div class="appointInfo">
                            <p>
                                服务名称:
                                <span>{{notAppoint.ProductName}}</span>
                            </p>
                            <p style="color: #c1c1c1;">
                                {{typeof(notAppoint.ProductDescri)==="string"?jsonParseFilter(notAppoint.ProductDescri).title:""}}
                            </p>
                        </div>
                    </div>
                    <div class="appointFoot">
                        {{if !notAppoint.AppointID}}
                        <button class="makeCode" data-id={{notAppoint.ID}} data-num={{notAppoint.ServiceNum}}>生成二维码</button>
                        	{{if notAppoint.StoreID}}
	                        <button class="appointBtn" data-id="{{notAppoint.ID}}"  data-num="{{notAppoint.ServiceNum}}" data-pid="{{(notAppoint.ProductID)}}" data-storeid="{{notAppoint.StoreID}}" data-stype="{{notAppoint.ServiceType}}" data-atype="{{notAppoint.AppointType}}" data-acont="{{notAppoint.AppointCont}}">
	                        预约服务</button>
                        	{{/if}}
                        	{{if !notAppoint.StoreID}}
                        	<button class="appointBtn" data-id="{{notAppoint.ID}}" data-num="{{notAppoint.ServiceNum}}" data-pid="{{notAppoint.ProductID}}" data-storeid="0" data-stype="{{notAppoint.ServiceType}}" data-atype="{{notAppoint.AppointType}}" data-acont="{{notAppoint.AppointCont}}">
	                        预约服务</button>
                        	{{/if}}
                            <button class="postBtn" data-id="{{notAppoint.ID}}"  data-num="{{notAppoint.ServiceNum}}" data-NeedDelivery="{{notAppoint.ProductNeedDelivery}}" data-DeliveryTime="{{notAppoint.DeliveryTime}}">邮寄商品</button>
                        {{/if}}
                        {{if notAppoint.AppointID}}
                        <button class="checkAppoint" data-id="{{notAppoint.AppointID}}"  data-num="{{notAppoint.ServiceNum}}">查看预约</button>
                            <button class="postBtn" data-id="{{notAppoint.ID}}"  data-num="{{notAppoint.ServiceNum}}" data-NeedDelivery="{{notAppoint.ProductNeedDelivery}}" data-DeliveryTime="{{notAppoint.DeliveryTime}}">邮寄商品</button>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </script>
        </div>
        <div class="hadAppoint">
            <script id="icenter_appointmentList_hadAppoint" type="text/html">
            	{{if hadAppointLength == 0}}
	        	<div class='noOrders'>
	        		<img src='images/orders/no_orders.png'>
	        		<p>暂无记录</p>
	        	</div>
	        	{{/if}}
                {{each hadAppointData as hadAppoint}}
                <div class="oneAppoint">
                    <div class="appointHeader">
                        <p class="orderID">
                            <span>订单编号：<span>{{hadAppoint.OrderID}}</span></span>
                            <span class="appointStatus">已成功预约</span>
                        </p>
                        <p class="buytime">预约编号:{{hadAppoint.ID}}
                            <span>服务购买时间:{{timeFilter(hadAppoint.AddTime)}}</span>
                        </p>
                    </div>
                    <div class="appointContent" data-id="{{hadAppoint.ServiceID}}" data-pane="hadAppoint" data-aid="{{hadAppoint.ID}}">
                        <!--<img src="{{serverAddr}}Img/{{$imports.smallSize(hadAppoint.ProductImg)| imgFilter}}">-->
                        <img src="{{serverAddr}}Img/{{hadAppoint.Data| imgStringFilter| imgFilter}}">
                        <div class="appointInfo">
                            <p>
                                服务名称:
                                <span>{{typeof(hadAppoint.Data)==="string"?jsonParseFilter(hadAppoint.Data).ProductName:""}}</span>
                            </p>
                            <p style="color: #c1c1c1;">
                                {{hadAppoint.Data | ProductDescriFilter }}
                            </p>
                        </div>
                    </div>
                    <div class="appointFoot">
                        <button class="checkAppoint" data-id={{hadAppoint.ID}}>查看预约</button>
                    </div>
                </div>
                {{/each}}
            </script>
        </div>
        <div class="notVerify">
            <script id="icenter_appointmentList_notVerify" type="text/html">
		        {{if notVerifyLength == 0}}
		    	<div class='noOrders'>
		    		<img src='images/orders/no_orders.png'>
		    		<p>暂无记录</p>
		    	</div>
		    	{{/if}}
            	{{each notVerifyData as notVerify}}
                <div class="oneAppoint">
                    <div class="appointHeader">
                        <p class="orderID">
                            <span>订单编号：<span>{{notVerify.OrderID}}</span></span>
                            <span class="appointStatus">商家已扫码</span>
                        </p>
                        <p class="buytime">预约编号:{{notVerify.ID}}
                            <span>服务购买时间:{{timeFilter(notVerify.AddTime)}}</span>
                        </p>
                    </div>
                    <div class="appointContent" data-id="{{notVerify.ServiceID}}" data-pane="notVerify" data-aid="{{notVerify.ID}}">
                        <!--<img src="{{serverAddr}}Img/{{$imports.smallSize(notVerify.ProductImg)| imgFilter}}">-->
                        <img src="{{serverAddr}}Img/{{notVerify.Data| imgStringFilter | imgFilter}}">
                        <div class="appointInfo">
                            <p>
                                服务名称:
                                <span>{{typeof(notVerify.Data)==="string"?jsonParseFilter(notVerify.Data).ProductName:""}}</span>
                            </p>
                            <p style="color: #c1c1c1;">
                                {{notVerify.Data |ProductDescriFilter}}

                            </p>
                        </div>
                    </div>
                    <div class="appointFoot">
                        <span>完成时间：{{timeFilter(notVerify.TimeLine)}}</span><button class="checkAppoint" data-id={{notVerify.ID}}>查看预约</button>
                    </div>
                </div>
                {{/each}}
            </script>
        </div>
        <div class="hadComplite">
            <script id="icenter_appointmentList_hadComplite" type="text/html">
		        {{if hadCompliteLength == 0}}
		    	<div class='noOrders'>
		    		<img src='images/orders/no_orders.png'>
		    		<p>暂无记录</p>
		    	</div>
		    	{{/if}}
                {{each hadCompliteData as hadComplite}}
                <div class="oneAppoint">
                    <div class="appointHeader">
                        <p class="orderID">
                            <span>订单编号：<span>{{hadComplite.OrderID}}</span></span>
                            <span class="appointStatus">已完成第{{hadComplite.ServiceNum}}次服务</span>
                        </p>
                        <p class="buytime">服务编号:{{hadComplite.ID}}
                            <span>服务购买时间:{{timeFilter(hadComplite.AddTime)}}</span>
                        </p>
                    </div>
                    <div class="appointContent" data-id="{{hadComplite.ID}}" data-pane="hadComplite">
                        <img src="{{serverAddr}}Img/{{$imports.smallSize(hadComplite.ProductImg)| imgFilter}}">
                        <div class="appointInfo">
                            <p>
                                服务名称:
                                <span>{{hadComplite.ProductName}}</span>
                            </p>
                            <p style="color: #c1c1c1;">
                                {{typeof(hadComplite.ProductDescri)==="string"?jsonParseFilter(hadComplite.ProductDescri).title:""}}
                            </p>
                        </div>
                    </div>
                    <div class="appointFoot">
                        <button class="PingJiaBtn">前往评价</button>
                        <span>服务完成时间：{{timeFilter(hadComplite.TimeLine)}}</span>
                    </div>
                </div>
                {{/each}}
            </script>
        </div>
    </div>
    </div>
