#icenter_appointmentList{
	font-size: 0;
	background-color: #EFEFF4;
	position: relative;
	overflow:hidden;
	height: 100%;
}

#icenter_appointmentList .header{
	width: 100%;
	height: 12vw;
	line-height: 12vw;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	background: #fff;
}

#icenter_appointmentList .header img{
	width: 6vw;
    position: absolute;
    left: 3vw;
    top: 3vw;
}

#icenter_appointmentList .header p{
	font-size: 4.5vw;
	font-weight: bold;
}


#icenter_appointmentList .nav{
	height: 12vw;
	line-height: 12vw;
	border-bottom: 1px solid #CCCCCC;
	background-color: #fff;
}

#icenter_appointmentList .nav ul{
	width: 100%;
}

#icenter_appointmentList .nav ul li{
	display: inline-block;
	width: 25%;
	text-align: center;
	font-size: 3.8vw;
}

#icenter_appointmentList .nav ul .active{
	color: #f60;
	border-bottom: 1px solid #f60;
	
}

#icenter_appointmentList .content{
	overflow-y: auto;
}

#icenter_appointmentList .notAppoint,#icenter_appointmentList .hadAppoint,#icenter_appointmentList .notVerify,#icenter_appointmentList .hadComplite{
	display: none;
}

#icenter_appointmentList .content .active{
	display: block;
}

#icenter_appointmentList .content .oneAppoint{
	width: 100%;
	background: #fff;
	margin-top: 3vw;
	font-size: 3.8vw;
}

#icenter_appointmentList .content .oneAppoint b{
	color: #000;
}

#icenter_appointmentList .content .oneAppoint .appointHeader{
	height: 10vw;
	padding: 0 5vw;
	box-sizing: border-box;
	line-height: 10vw;
}

#icenter_appointmentList .content .oneAppoint .appointStatus{
	float: right;
	color: #f60;
}

#icenter_appointmentList .content .oneAppoint .appointContent{
	height: 30vw;
	background: #FAFAFA;
	padding: 0 5vw;
	box-sizing: border-box;
}

#icenter_appointmentList .content .oneAppoint .appointContent img{
	width: 27vw;
	margin-top: 2vw;
}

#icenter_appointmentList .content .oneAppoint .appointContent .appointInfo{
	width: 60vw;
    display: inline-block;
    vertical-align: top;
    margin-top: 3vw;
    padding-left: 1vw;
    font-size:3.5vw;
}

#icenter_appointmentList .content .oneAppoint .appointContent .appointInfo p{
	margin-top: 1vw;
}

#icenter_appointmentList .content .oneAppoint .appointContent .appointInfo p span{
	font-weight: bold;
}

#icenter_appointmentList .content .oneAppoint .appointFoot{
	height: 10vw;
	padding: 0 5vw;
	box-sizing: border-box;
	line-height: 10vw;
}

#icenter_appointmentList .content .oneAppoint .appointFoot button{
	width:25vw;
	background:none;
	outline:none;
	height:7vw;
	border-radius:6vw;
	float:right;
	margin-top:2vw;
	margin-left: 2vw;
}

#icenter_appointmentList .content .appointBtn,#icenter_appointmentList .content .checkAppoint,#icenter_appointmentList .content .commit{
	color: #F60;
	border:1px solid #F60;
}

#icenter_appointmentList .content .makeCode{
	color: #8B8888;
    border: 1px solid #8B8888;
}

#icenter_appointmentList .noOrders{
	width: 55vw;
	height: 80vw;
	text-align: center;
	position: absolute;
	top: 40vw;
	left: 23vw;
}

#icenter_appointmentList .noOrders img{
	width: 55vw;
}

#icenter_appointmentList .noOrders p{
	color: #898787;
	margin-top:3vw;
	margin-bottom: 3vw;
	font-size: 3.8vw;
}

.layui-layer-title{
	background:#EFEFF4;
}

.layui-layer-content{
	text-align: center;
	overflow-y: hidden !important;
}

.layui-layer-dialog{
	z-index: 9999999999999999 !important;
}