@charset "utf-8";
#luckyDraw_luckyDraw{
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#luckyDraw_luckyDraw .header{
	width:100%;
	height:10vw;
	border-bottom:#d6d6db 1px  solid;
	font-size:4.33vw;
	line-height:10vw;
	text-align:center;
	background:#FFF;
	font-weight:bold;
	position:relative;
}

#luckyDraw_luckyDraw .back{
	position:absolute;
	top:2vw;
	left:5vw;
	width:6vw;
}

#luckyDraw_luckyDraw .content{
	width:100%;
	position:relative;
	overflow-y: auto;
}

#luckyDraw_luckyDraw .bgImg{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}

#luckyDraw_luckyDraw .wardImg{
	z-index:100;
	position:absolute;
	top:40vw;
	left:9vw;
	width:80vw;
}

#luckyDraw_luckyDraw .rules{
	position:absolute;
	top:160vw;
	left:13vw;
	font-size:4vw;
	width:80vw;
	color:#fff;
}

#luckyDraw_luckyDraw .ruleTitle{
	border:0.5vw solid #fff;
	border-radius:4vw;
	width:16vw;
	margin-left:10vw;
	width: 50vw;
    text-align: center;
}

#luckyDraw_luckyDraw .rules p{
	font-size:3.5vw;
}

#luckyDraw_luckyDraw .msg{
	margin-top:7vw;
}

#luckyDraw_luckyDraw .mirror{
	width:100%;
	background:#000;
	opacity:0.6;
	position:absolute;
	top:0;
	left:0;
	height:206vw;
	z-index:110;
}

#luckyDraw_luckyDraw .form{
	position:absolute;
	left:16vw;
	top:37vw;
	z-index:120;
	width:70vw;
	height:0vw;
	overflow:hidden;
	text-align:center;
}

#luckyDraw_luckyDraw .formMsg{
	font-size: 5vw;
    color:#F00;
    font-weight: bold;
    margin-top: 2vw;
	}

#luckyDraw_luckyDraw .form input {
	width:65vw;
	height:12vw;
	margin-bottom:5vw;
	font-size:4.2vw;
	outline:none;
	border-radius:5vw;
	padding-left:5vw;
	border:none;
}

#luckyDraw_luckyDraw .form button{
	width:70vw;
	height:12vw;
	font-size:4vw;
	outline:none;
	border-radius:5vw;
	border:none;
	color:#FFF;
	background:#F8B62D;
}

#luckyDraw_luckyDraw .wardborder img{
	z-index:130;
	position:absolute;
	top:40vw;
	left:9vw;
	width:80vw;

}


#luckyDraw_luckyDraw .cjImg0{
	position:absolute;
	top:70vw;
	left:21vw;
	z-index:130;
	height:16.9vw;
}


#luckyDraw_luckyDraw .cjImg0 img,#luckyDraw_luckyDraw .cjImg1 img,#luckyDraw_luckyDraw .cjImg2 img,#luckyDraw_luckyDraw .cjImg3 img,#luckyDraw_luckyDraw .cjImg4 img,#luckyDraw_luckyDraw .cjImg5 img,#luckyDraw_luckyDraw .cjImg6 img,#luckyDraw_luckyDraw .cjImg7 img,#luckyDraw_luckyDraw .cjImg8 img{
	width:17.5vw;
}

#luckyDraw_luckyDraw .cjImg1{
	position:absolute;
	top:70vw;
	left:40vw;
	z-index:130;
	height:16.9vw;
}

#luckyDraw_luckyDraw .cjImg2{
	position:absolute;
	top:70vw;
	left:59vw;
	z-index:130;
	height:16.9vw;
}

#luckyDraw_luckyDraw .cjImg3{
	position:absolute;
	top:88vw;
	left:21vw;
	z-index:130;
	height:16.9vw;
}

#luckyDraw_luckyDraw .cjImg4{
	position:absolute;
	top:88vw;
	left:40vw;
	z-index:130;
	height:16.9vw;
}

#luckyDraw_luckyDraw .cjImg5{
	position:absolute;
	top:88vw;
	left:59vw;
	z-index:130;
	height:16.9vw;
}

#luckyDraw_luckyDraw .cjImg6{
	position:absolute;
	top:106vw;
	left:21vw;
	z-index:130;
	height:16.9vw;
}
#luckyDraw_luckyDraw .cjImg7{
	position:absolute;
	top:106vw;
	left:40vw;
	z-index:130;
	height:16.9vw;
}
#luckyDraw_luckyDraw .cjImg8{
	position:absolute;
	top:106vw;
	left:59vw;
	z-index:130;
	height:16.9vw;
}

#luckyDraw_luckyDraw .noWard{
	position:absolute;
	top:30vw;
	left:10vw;
	z-index:150;
	text-align:center;
    height:0vw;
	overflow:hidden;
}

#luckyDraw_luckyDraw .wardMsg{
	position:absolute;
	top:18vw;
	left:21vw;
	color:#F00;
}

#luckyDraw_luckyDraw .wardMsg h2{
	font-size:8.5vw;
}

#luckyDraw_luckyDraw .wardMsg h4{
	font-size:4vw;
	margin-top:9vw;
}

#luckyDraw_luckyDraw .noWard p{
	color:#FFF;
	margin-bottom:1vw;
	font-size:3.5vw;
}

#luckyDraw_luckyDraw .noWard img{
	width:80vw;
}

#luckyDraw_luckyDraw .backImg img{
	padding-top:2vw;
	width:40vw;
}

