<div>
	<div class="header">
		<a href="javascript:void(0)" class="goBack"></a>
		<span>填写订单</span>
	</div>
	<div class="main">
		<div class="productInfo"></div>
		<div class="coupon"></div>
		<div class="proMoney"></div>
		<div class="delivery"></div>
		<div class="appointment"></div>
	</div>
	<div class="footer">
		实付：￥<span></span>
		<button class="order disabled">提交订单</button>
	</div>
	<div class="couponModal">
		<div class="title">
			<a href="javascript:void(0)" class="closeModal"></a>
			<span>使用优惠券</span>
		</div>
		<ul class="clear">
			<li data-type="usable" class="active" data-index="0">可使用</li>
			<li data-type="disabled" data-index="1">不可用</li>
		</ul>
		<div class="content">
			<div class="warp clear">
				<div class="usable"></div>
				<div class="disabled"></div>
			</div>
		</div>
	</div>
	<div class="deliveryModal">
		<div class="warp">
			<div class="title">
				<a href="javascript:void(0)" class="closeModal"></a>
				<span>填写收货地址</span>
				<a href="javascript:$$.redirect('home/address.html')" class="manage">管理收货地址</a>
			</div>
			<div class="addressData"></div>
		</div>
	</div>
	<div class="appointmentModal">
		<div class="warp">
			<div class="title">
				<a href="javascript:void(0)" class="closeModal"></a>
				<span>选择预约时间</span>
			</div>
			<div class="timeList">
				<div></div>
			</div>
			<div class="select">确认</div>
		</div>
	</div>
	<script id="home_fillOrder_addrList" type="text/html">
		{{if list.length > 0}}
	        {{each list as addr}}
		        {{set data = $imports.jsonParseFilter(addr.DataField)}}
		        <div class="item {{addr.ID == userAddressID ? 'default' : ''}}" data-id="{{addr.ID}}" data-addr="{{data.province}}{{data.city}}{{data.county}}{{addr.AddressDetail}}" data-name="{{addr.Name}}" data-phone="{{addr.Mobile}}">
		            <div>
			        	<span>
			        		<img src="./images/common/default_check.png">
			        	</span>
		                <div class="cnt">
		                	<h4>
		                		{{addr.Name}}
		                		{{addr.Mobile}}
		                		{{if addr.ID == userAddressID}}
		                			<small>默认</small>
		                		{{/if}}
		                	</h4>
			                <p>{{data.province}}{{data.city}}{{data.county}}{{addr.AddressDetail}}</p>
		                </div>
			            <a class="edit" href="javascript:;" data-id="{{addr.ID}}"><img src="./images/common/edit_2.png"></a>
		            </div>
		        </div>
		    {{/each}}
			<div class="select">确认</div>
		{{else}}
			<div class="no_address">
                <img src="./images/common/no_address.png"/>
                <p>您还没有收货地址哟</p>
                <a href="javascript:$$.redirect('home/addAddr.html')"><i></i>添加新地址</a>
            </div>
		{{/if}}
	</script>
	<script id="home_fillOrder_delivery" type="text/html">
		{{if needDelivery}}
		<div data-id="{{id}}">
			<p>收货地址</p>
			<span>{{addr}}</span>
		</div>
		<i></i>
		{{/if}}
	</script>
	<script id="home_fillOrder_appointment_time" type="text/html">
		<div data-time="{{time}}">
			<p>预约时间</p>
			<span>{{time}}</span>
		</div>
		<i></i>
	</script>
	<script id="home_fillOrder_appointment_time_list" type="text/html">
		{{each list as t index}}
		<div class="item">
			<span class="date">{{t}}</span>
			<span class="am" data-date="{{t}}" data-time="9:00-12:00">9:00-12:00</span>
			<span class="pm" data-date="{{t}}" data-time="14:00-18:00">14:00-18:00</span>
		</div>
		{{/each}}
	</script>
	<script id="home_fillOrder_service_detail" type="text/html">
		<p><i></i>车势力</p>
		<div class="clear">
			<img src="{{serverAddr}}Img/{{data.ProductImg | imgFilter}}">
			<p>{{data.StoreName}}<br>{{data.ProductName}}<span>￥{{data.NewPrice}}</span></p>
			<p>{{descri}}<span>x{{count}}</span></p>
		</div>
		<p>共{{count}}件商品</p>
	</script>
	<script id="home_fillOrder_product_detail" type="text/html">
		<p><i></i>车势力</p>
		<div class="clear">
			<img src="{{serverAddr}}Img/{{data.Img | imgFilter}}">
			<p>{{data.Name}}<span>￥{{data.Price}}</span></p>
			<p>{{descri}}<span>x{{count}}</span></p>
		</div>
		<p>共{{count}}件商品</p>
	</script>
	<script id="home_fillOrder_price_coupon" type="text/html">
		<p>商品金额<span>￥{{total}}</span></p>
		<p>优惠<span>-￥{{coupon}}</span></p>
	</script>
	<script id="home_fillOrder_ticket_point" type="text/html">
		<label>优惠券
			{{if ticket > 0}}
			<button class="selected">
				-￥{{ticket}}
			{{else}}
			<button>
				选择优惠券
			{{/if}}
			</button>
		</label>
		<p>
			积分
			<span>共{{point}}积分，满1000积分可用</span>
		</p>
	</script>
	<script id="home_fillOrder_coupon_item" type="text/html">
		{{if list.length > 0}}
			{{each list as val}}
			<div class="ticket" data-id="{{val.ID}}" data-coupon="{{val.Discount}}">
				<div><i>￥</i><span>{{val.Discount}}</span>
					<small>{{val.Name}}</small>
				</div>
				<p>{{val.Descri}}</p>
				<small>{{val.TimeStart}} 到 {{val.TimeEnd}}</small>
				{{if enable}}
				<i></i>
				{{/if}}
			</div>
			{{/each}}
		{{else}}
			<div class="no-ticket">
				<img src="./images/orders/no_ticket.png">
				<p>没有相关优惠券</p>
			</div>
		{{/if}}
		{{if enable}}
		<button class="selectTicket">确定</button>
		{{/if}}
	</script>
</div>