<div>
	<div class="header">
		<a href="javascript:void(0)" class="goBack"></a>
		<span>填写订单</span>
	</div>
	<div class="main">
		<div class="productInfo"></div>
		<div class="appointment"></div>
		<div class="coupon"></div>
		<div class="proMoney"></div>
	</div>
	<div class="footer">
		实付：￥<span></span>
		<button class="order disabled">提交订单</button>
	</div>
	<div class="couponModal">
		<div class="title">
			<a href="javascript:void(0)" class="closeModal"></a>
			<span>使用优惠券</span>
		</div>
		<ul class="clear">
			<li data-type="usable" class="active" data-index="0">可使用</li>
			<li data-type="disabled" data-index="1">不可用</li>
		</ul>
		<div class="content">
			<div class="warp clear">
				<div class="usable"></div>
				<div class="disabled"></div>
			</div>
		</div>
	</div>
	<script id="home_fillOrder_appointment_time" type="text/html">
		<div data-time="{{time}}">
			<p>预约时间</p>
			<span>{{time}}</span>
		</div>
		<i></i>
	</script>
	<script id="home_fillOrder_product_detail" type="text/html">
		<p><i></i>车势力</p>
		<div class="clear">
			<img src="{{serverAddr}}Img/{{data.Img | imgFilter}}">
			<p>{{data.Name}}<span>￥{{data.Price}}</span></p>
			<p>{{descri}}<span>x{{count}}</span></p>
		</div>
		<p>共{{count}}件商品</p>
	</script>
	<script id="home_fillOrder_price_coupon" type="text/html">
		<p>商品金额<span>￥{{total}}</span></p>
		<p>优惠<span>-￥{{coupon}}</span></p>
	</script>
	<script id="home_fillOrder_ticket_point" type="text/html">
		<label>优惠券
			{{if ticket > 0}}
			<button class="selected">
				-￥{{ticket}}
			{{else}}
			<button>
				选择优惠券
			{{/if}}
			</button>
		</label>
		<p>
			积分
			<span>共{{point}}积分，满1000积分可用</span>
		</p>
	</script>
	<script id="home_fillOrder_coupon_item" type="text/html">
		{{if list.length > 0}}
			{{each list as val}}
			<div class="ticket" data-id="{{val.ID}}" data-coupon="{{val.Discount}}">
				<div><i>￥</i><span>{{val.Discount}}</span>
					<small>{{val.Name}}</small>
				</div>
				<p>{{val.Descri}}</p>
				<small>{{val.TimeStart}} 到 {{val.TimeEnd}}</small>
				{{if enable}}
				<i></i>
				{{/if}}
			</div>
			{{/each}}
		{{else}}
			<div class="no-ticket">
				<img src="./images/orders/no_ticket.png">
				<p>没有相关优惠券</p>
			</div>
		{{/if}}
		{{if enable}}
		<button class="selectTicket">确定</button>
		{{/if}}
	</script>
</div>