@charset "utf-8";
/* CSS Document */
#car *{
	font-family:"微软雅黑";
	margin:0;
	padding:0;
	
}

body{
	background:#efeff4;
}

#car a{
	color:#000;
}


#car p{
	font-size:14px;
}

#car h3{
	font-size:18px;
}

#car{
	width:100%;
	height:100%;
}

#car .banner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#car .banner .hd {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    text-align: center;
}
#car .banner .hd ul {
    height: 7px;
    padding: 3px 5px;
    font-size: 0;
    vertical-align: top;
}
#car .banner .hd ul li {
    display: inline-block;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: rgba(255,255,255,.6);
    margin: 0 5px;
    vertical-align: top;
    overflow: hidden;
}
#car .banner .hd ul .on {
    background: #fff;
}
#car .banner .bd {
    position: relative;
    z-index: 0;
}
#car .banner .bd li img {
    width: 100%;
    height: 32vw;/* 有待实际验证 */
    background: url(../images/common/loading.gif) no-repeat;
    background-size: contain; 
}
#car .banner .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*服务标题选项开始*/
#car .serviceNav{
	width:100%;
	height:22vw;
    border-bottom:1px solid #d6d6db;
    background:#fff;
	margin-top:2vw;
}

#car .serviceNav ul{
	list-style:none;
	text-align:center;
}

#car .serviceNav ul li{
	padding-top:4vw;
	display:inline-block;
	text-align:center;
	width:23%;
}

#car .serviceNav ul li img{
	width:40%;
}

#car .serviceNav ul a{
	color:#000;
}
/*服务标题选项结束*/

/*店铺类型选择开始*/
#car .selectShop{
	width:100%;
	height:12.5vw;
	background:#fff;
	border-bottom:1px solid #d6d6db;
}

#car .selectShop ul{
	list-style:none;
	padding:3vw 0;
}

#car .selectShop ul li{
	display:inline-block;
	text-align:center;
	width:32%;
	line-height:5vw;
	border-right:1px solid #d6d6db;
	font-size:14px;
}

#car .selectShop ul li img{
	width:7%;
	margin-left:2vw;
}

#car .noBorder{
	border-right:none;
}

/*店铺类型选择结束*/

/*店铺列表开始*/
#car .shopList{
	background:#fff;
	overflow-y:auto;
}

#car .container{
	margin:0 3vw;
}

#car .oneShop{
	height:18vw;
	width:100%;
	padding:2vw 0;
	border-bottom:1px solid #d6d6db;
}

#car .shopImg{
	width:25%;	
	display:inline-block;
}

#car .shopImg img{
	width:100%;
}

#car .shopInfo{
	width:73%;
	display:inline-block;
	position:relative;
}

#car .shopInfo ul{
	list-style:none;
	position:absolute;
	left:1vw;
	top:-18vw;
	width:100%;
}

#car .shopInfo ul li{
	display:inline-block;
	margin-bottom:1vw;
}

#car .msg{
	text-align: center;
    font-size: 14px;
}

#car .msgLeft{
	width:80%;
}

#car .msgRight{
	width:15%;
}

#car .shopInfo p{
	font-size:smaller;
	color:#666;
}

#car .price{
	color:#ea5514;
}
/*店铺列表结束*/

/*下拉选择框开始*/
#car #selectModal{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background:#FFF;
	z-index:10;
	display:none;
}

#car #selectModal .nav{
	border-bottom:1px solid #d6d6db;
	height:12.5vw;
	width:100%;
}

#car #selectModal .nav ul{
	text-align:center;
	padding:3vw 0;
}

#car #selectModal .nav li{
	display:inline-block;
	text-align:center;
	width:32%;
	line-height:5vw;
	border-right:1px solid #d6d6db;
	font-size:14px;
}

#car #selectModal .nav ul li img{
	width:7%;
	margin-left:2vw;
}

#car .tOn{
	color:#F60;
}

#car .tOff{
	color:#000;
}

#car .cOn{
	display:block;
}

#car .cOff{
	display:none;
}

/*地点标签CSS*/
#car #positionS{
	padding:0 3vw;
}

#car #area li{
	border-bottom:1px solid #d6d6db;
	padding:10px;
	font-size:14px;
}

#car .positionOn{
	color:#F60;
}

/*服务标签CSS*/

#car #carT{
	width:100%;
}

#car .carNav{
	width:33%;
	background:#D6D6DB;
	display:inline-block;
}

#car .carNav ul{
	width:100%;
	text-align:center;
}

#car .carNav ul li{
	width:100%;
	padding:10px 0;
	font-size:14px;
}

/*汽车服务样式*/
#car #serviceList{
	width:65%;
	display:inline-block;
}

#car #serviceList ul{
	width:100%;
	list-style:none;
}

#car #serviceList ul li{
	width:100%;
	padding:10px;
	font-size:14px;
	border-bottom:1px solid #d6d6db;
}

#car .ctOn{
	background:#fff;
	color:#F60;
}

#car .ccOn{
	display:block;
}

#car .ccOff{
	display:none;
}

#car .cccOn{
	color:#F60;
}

#car #orderBy ul li{
	border-bottom:1px solid #d6d6db;
	padding:10px;
	font-size:14px;
}

#car .orderOn{
	color:#f60;
}
	
/*下拉选择框结束*/

#car @media screen and (min-width: 410px) {
	#car p{
		font-size:16px;
	}
	
	#car h3{
		font-size:20px;
	}
	
    #car .selectShop ul li{
		font-size:16px;
	}
	
	#car #area li{
		font-size:16px;
	}
	
	#car .carNav ul li{
		font-size:16px;
	}
	
	#car #serviceList ul li{
		font-size:16px;
	}
	
	#car #selectModal .nav li{
		font-size:16px;
	}
		
}
#car @media screen and (max-width: 350px) {
	#car p{
		font-size:10px;
	}
	
	#car h3{
		font-size:14px;
	}
    
	#car .selectShop ul li{
		font-size:12px;
	}
	
	#car #area li{
		font-size:12px;
	}
	
	#car .carNav ul li{
		font-size:12px;
	}
	
	#car #serviceList ul li{
		font-size:12px;
	}
	
	#car #selectModal .nav li{
		font-size:12px;
	}
}