@charset "utf-8";
#myCars {
    padding: 15px 15px 0px;
}
#myCars >div.car {
	border: 1px solid #fff;
	background-color: #fff;
	position: relative;
	border-radius: 5px;
	margin-bottom: 15px;
}
#myCars >div.car:after {
	content: "";
	display: block;
	clear: both;
}
#myCars >div.car.default {
	border-color: #EA5514;
}
#myCars >div.car >i {
    position: absolute;
    font-style: normal;
    left: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 15px;
    color: #A9A9A9;
    display: block;
    height: 36px;
    width: 70px;
    line-height: 36px;
    text-indent: 10px;
}
#myCars >div.car >span {
	position: absolute;
	right: 12px;
	bottom: 0;
}
#myCars >div.car.default:before {
	content: "";
	display: inline-block;
	background: url(../images/common/default.png) no-repeat;
	background-size: contain;
	position: absolute;
	height: 36px;
	width: 36px;
    left: 8px;
}
#myCars >div.car.default >i {
	display: none;
}
#myCars >div.car >span a {
	display: inline-block;
	font-size: 14px;
	color: #A9A9A9;
    height: 36px;
    width: 50px;
    line-height: 36px;
}
#myCars >div.car >span a:before {
	content: "";
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 14px;
    position: relative;
    top: 1px;
}
#myCars >div.car >span a.modify:before {
	background-image: url(../images/common/edit_1.png);
}
#myCars >div.car >span a.delete:before {
	background-image: url(../images/common/delete.png);
}
#myCars >div.car >div {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 12px;
    margin-bottom: 36px;
}
#myCars >div.car img {
	width: 70px;
}
#myCars >div.car h4 {
	margin: 0;
}
#myCars >div.car p {
	margin: 8px 0;
	padding: 0 5px;
	color: #A9A9A9;
	font-size: 14px;
}