<div>
    <div class="header">
        <a href="javascript:void(0)" class="goBack"></a>
        <span>订单详情</span>
    </div>
    <div class="main"></div>
    <div class="footer"></div>
    <script id="orderDetail_orderDetail_detail" type="text/html">
        <div class="title">
            <div>
            {{if oData.StatusID == '1'}}
                <i class="time"></i>
                <span>待付款</span>
            {{else if oData.StatusID == '2'}}
                <i class="time"></i>
                <span>待发货</span>
            {{else if oData.StatusID == '3'}}
                <i class="right"></i>
                <span>买家已付款</span>
            {{else if oData.StatusID == '4'}}
                <i class="deliver"></i>
                <span>卖家已发货</span>
            {{else if oData.StatusID == '5'}}
                <i class="close"></i>
                <span>交易关闭</span>
            {{else if oData.StatusID == '6'}}
                <i class="right"></i>
                <span>交易成功</span>
            {{else if oData.StatusID == '7'}}
                <i class="time"></i>
                <span>退款中</span>
            {{else if oData.StatusID == '8'}}
                <i class="right"></i>
                <span>定金已付</span>
            {{else if oData.StatusID == '9'}}
                <i class="close"></i>
                <span>异常订单</span>
            {{else if oData.StatusID == '10'}}
                <i class="time"></i>
                <span>付款确认中</span>
            {{/if}}
            </div>
        </div>
        <div class="product">
            <div>
                <p><i></i>车势力<a href="javascript:void(0)" class="contactService">联系客服</a></p>
                {{set totalCount = 0}}
                {{each proList as pData}}
                <div class="clear">
                    <img src="{{serverAddr}}Img/{{pData.Img | imgFilter}}">
                    <p>{{pData.Name}}<span>￥{{pData.Price}}</span></p>
                    <p>{{pData.Descri || pData.Name}}<span>x{{$imports.intFilter(pData.ProductCount || 1)}}</span></p>
                </div>
                <%totalCount = totalCount + $imports.intFilter(pData.ProductCount || 1)%>
                {{/each}}
                <p>共{{totalCount}}件商品</p>
            </div>
        </div>
        <div class="order">
            <div>
                <p>订单编号：{{oData.ID}}</p>
                <p>下单时间：{{oData.AddTime | timeFilter}}</p>
            </div>
        </div>
        <div class="money">
            <div>
                <p>商品金额<span>￥{{oData.AllMoney}}</span></p>
                {{if oData.StatusID != '5'}}
                <p>优惠<span>-￥{{discountMoney}}</span></p>
                <p class="clear">
                    <span>￥{{oData.OutPocket}}</span>
                    {{if isPayed}}
                    <span style="color: #000">实际付款：</span>
                    {{else}}
                    <span style="color: #000">需付款：</span>
                    {{/if}}
                </p>
                {{/if}}
            </div>
        </div>
    </script>
    <script id="orderDetail_orderDetail_footer" type="text/html">
        {{if canPay}}
        <a href="payCenter/payCenter.html?oid={{orderId}}">去支付</a>
        {{/if}}
        {{if canCancel}}
        <button class="cancelOrder" data-id="{{orderId}}">取消订单</button>
        {{/if}}
    </script>
</div>