<div>
    <div class="header">
        <a href="javascript:void(0)" class="goBack"></a>
        <span>订单详情</span>
    </div>
    <div class="main"></div>
    <div class="footer"></div>
    <div class="confirm">
        <div>
            <h4>帮助客服</h4>
            <p>0531-85523333</p>
            <button class="cancel">取消</button>
            <a class="confirm" href="tel:0531-85523333">呼叫</a>
        </div>
    </div>
    <script id="icenter_orderDetail_detail" type="text/html">
        <div class="title">
            <div>
            {{if oData.StatusID == '1'}}
                <i class="time"></i>
                <span>待付款</span>
            {{else if oData.StatusID == '2'}}
                <i class="time"></i>
                <span>待发货</span>
            {{else if oData.StatusID == '3'}}
                <i class="right"></i>
                <span>买家已付款</span>
            {{else if oData.StatusID == '4'}}
                <i class="deliver"></i>
                <span>卖家已发货</span>
            {{else if oData.StatusID == '5'}}
                <i class="close"></i>
                <span>交易关闭</span>
            {{else if oData.StatusID == '6'}}
                <i class="right"></i>
                <span>交易成功</span>
            {{else if oData.StatusID == '7'}}
                <i class="time"></i>
                <span>退款中</span>
            {{else if oData.StatusID == '8'}}
                <i class="right"></i>
                <span>定金已付</span>
            {{else if oData.StatusID == '9'}}
                <i class="close"></i>
                <span>异常订单</span>
            {{else if oData.StatusID == '10'}}
                <i class="time"></i>
                <span>付款确认中</span>
            {{/if}}
            </div>
        </div>
        <div class="product">
            <div>
                {{set totalCount = 0}}
                {{if oData.OrderType != '1'}}
                    <p><i></i>车势力<a href="javascript:void(0)" class="contactService" data-tel="">联系客服</a></p>
                    {{each proList as pData}}
                    <div class="clear">
                        <img src="{{serverAddr}}Img/{{pData.Img | imgFilter}}">
                        <p>{{pData.Name}}<span>￥{{pData.Price}}</span></p>
                        <p>{{pData.Descri || pData.Name}}<span>x{{$imports.intFilter(pData.ProductCount || 1)}}</span></p>
                    </div>
                    <%totalCount = totalCount + $imports.intFilter(pData.ProductCount || 1)%>
                    {{/each}}
                {{else}}
                    <p><i></i>{{proList[0].StoreName}}<a href="javascript:void(0)" class="contactService" data-tel="1111111111">联系客服</a></p>
                    {{each proList as pData}}
                    <div class="clear">
                        <img src="{{serverAddr}}Img/{{pData.ProductImg | imgFilter}}">
                        <p>{{pData.ProductName}}<span>￥{{pData.NewPrice}}</span></p>
                        <p>{{pData.Descri}}<span>x{{$imports.intFilter(pData.ProductCount || 1)}}</span></p>
                    </div>
                    <%totalCount = totalCount + $imports.intFilter(pData.ProductCount || 1)%>
                    {{/each}}
                {{/if}}
                <p>共{{totalCount}}件商品</p>
            </div>
        </div>
        <div class="order">
            <div>
                <p>订单编号：{{oData.ID}}</p>
                <p>下单时间：{{oData.AddTime | timeFilter}}</p>
            </div>
        </div>
        <div class="money">
            <div>
                <p>商品金额<span>￥{{oData.AllMoney}}</span></p>
                {{if oData.StatusID != '5'}}
                <p>优惠<span>-￥{{discountMoney}}</span></p>
                <p class="clear">
                    <span>￥{{oData.OutPocket}}</span>
                    {{if isPayed}}
                    <span style="color: #000">实际付款：</span>
                    {{else}}
                    <span style="color: #000">需付款：</span>
                    {{/if}}
                </p>
                {{/if}}
            </div>
        </div>
    </script>
    <script id="icenter_orderDetail_footer" type="text/html">
        {{if canPay}}
        <a href="home/payCenter.html?oid={{d.orderId}}">去支付</a>
        {{/if}}
        {{if canCancel}}
        <button class="cancelOrder" data-id="{{d.orderId}}">取消订单</button>
        {{/if}}
        {{if canReBuy && d.OrderType == '0'}}
        <a href="home/fillOrder.html?pid={{productInfo[0].ID}}&&type={{productInfo[0].OrderType}}">重新购买</a>
        {{else if canReBuy && d.OrderType == '1'}}
        <a href="home/prodservice.html?pid={{productInfo[0].ProductID}}">重新购买</a>
        {{else if canReBuy && d.OrderType == '5'}}
        <a href="home/prodmulti.html?pid={{productInfo[0].ID}}">重新购买</a>
        {{/if}}
    </script>
</div>