#orderDetail_orderDetail {
    background-color: #EFEFF4;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
#orderDetail_orderDetail >div.header {
    height: 44px;
    background-color: #fff;
    border-bottom: 1px solid #F6F6F7;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 12;
}
#orderDetail_orderDetail >div.header >a.goBack {
    display: block;
    float: left;
    height: 44px;
    width: 44px;
    background: url(../images/common/round_left_blue.png) no-repeat;
    background-size: 40%;
    background-position: center;
    padding-left: 15px;
}
#orderDetail_orderDetail >div.header >span {
    margin: auto;
    display: block;
    font-weight: 700;
    font-size: 16px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    width: 60%;
}
#orderDetail_orderDetail >div.main {
    position: absolute;
    top: 45px;
    width: 100%;
}
#orderDetail_orderDetail >div.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
}
#orderDetail_orderDetail >div.footer >button {
    border: none;
    outline: none;
    display: block;
    width: 100px;
    height: 32px;
    float: right;
    background-color: #fff;
    text-align: center;
    border: 1px solid #484D59;
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 9px;
}
#orderDetail_orderDetail >div.footer >a {
    display: block;
    width: 100px;
    height: 30px;
    float: right;
    background-color: #fff;
    line-height: 30px;
    text-align: center;
    border: 1px solid #EA5514;
    color: #EA5514;
    border-radius: 18px;
    margin-right: 14px;
    margin-top: 9px;
}
