#icenter_footprint {
	margin: 0;
	padding: 0;
	background-color: #efeff4;
	height: 100%;
	overflow-y:hidden;
}

#icenter_footprint header{
	width: 100%;
	height: 12vw;
	background-color: #fff;
	position: relative;
	line-height: 12vw;
	position: relative;
	text-align: center;
	font-size: 4.33vw;
	border-bottom: 1px solid #E4E4E9;
	font-weight:bold;
}

#icenter_footprint header img{
	width: 6vw;
	position: absolute;
	top:3vw;
	left: 3vw;
}

#icenter_footprint .content{
	overflow-y: auto;
}
#icenter_footprint .dataDiv{
	height: 8vw;
	line-height: 8vw;
	font-size: 3.2vw;
	padding: 0 5vw 0 5vw;
}

#icenter_footprint .oneProduct{
	width: 100%;
	height: 30vw;
	background:#fff;
}

#icenter_footprint .imgContain{
	width: 30%;
	display: inline-block;
	height: 30vw;
	position: relative;
}

#icenter_footprint .imgContain img{
	width: 90%;
	height: 90%;
	position: absolute;
	left: 2vw;
	top:1vw;
}

#icenter_footprint .contentContain{
	width: 70%;
	display: inline-block;
	height: 30vw;
	border-bottom: 1px solid #E4E4E9;
	position: relative;
}

#icenter_footprint .productInfo{
	position: absolute;
	top: 4vw;
	left: 4vw;

}

#icenter_footprint .price{
	color:#f60;
	width: 62vw;
    display: block;
    line-height: 8vw;
}

#icenter_footprint .contentContain button{
	height: 8vw;
	background: none;
	border: 1px solid #f60;
	border-radius: 10vw;
	width: 25vw;
	color:#f60;
	float: right;
}

#icenter_footprint .msg{
	text-align: center;
	color: #F60;
}

#icenter_footprint .descri{
	color:#777373;
	height: 10vw;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 60vw;
    white-space: nowrap;
}