

#icenter_share >div.header {
	background-color: #EA5514;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 44px;
}
@media screen and (min-width: 410px) {
	#icenter_share >div.header {
		height: 48px;
	}
}
@media screen and (max-width: 350px) {
	#icenter_share >div.header {
		height: 40px;
	}
}
#icenter_share >div.header >a.goBack {
	background: url(../images/common/round_left.png) no-repeat;
	background-size: contain;
	display: inline-block;
    width: 28px;
    height: 28px;
    margin: 9px 0 0 12px;
}
#icenter_share >div.header >span.title {
	color: #fff;
    text-align: center;
    margin: auto;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 60%;
    font-size: 16px;
}
@media screen and (min-width: 410px) {
	#icenter_share >div.header >a.goBack {
	    width: 30px;
	    height: 30px;
	    margin: 9px 0 0 12px;
	}
	#icenter_share >div.header >span.title {
		height: 32px;
		line-height: 32px;
	}
}
@media screen and (max-width: 350px) {
	#icenter_share >div.header >a.goBack {
	    width: 24px;
	    height: 24px;
	    margin: 9px 0 0 12px;
	}
	#icenter_share >div.header >span.title {
		height: 26px;
		line-height: 26px;
	}
}

#icenter_share {
	position: relative;
	overflow: hidden;

    width: 100%;
    height: 100%;
    background-color: red;

}
#icenter_share .bg{
	width: 100%;
    height: 100%;
	background: url("../images/invite/sharebg.png");
	background-size:100% 100%;
	overflow:hidden;

}

#icenter_share div.shareWin{
	margin-top: 75%;
	margin-left: 15%;
	width: 70%;
	text-align: center;
}

#icenter_share div.sharebtn{
	width: 100px;
    height: 100px;
	background: url("../images/invite/sharebtn.png") ;
	background-size:100% 100%;
	display: inline-block;
}
#icenter_share ul{
	margin-top: 20px;
}
#icenter_share ul li {
    text-align: left;
    color: white;
    font-size: 13px;
    font-family: "";
}
/*设置分享弹出框的样式*/
body .share-alert{
	background:rgba(0,0,0,0);


}
body .share-top{
	background:white;
	width: 100%;
	height: 190px;
	border-radius: 5px;

}
body .share-bottom {
	width: 100%;
	height: 45px;
	text-align: center;
	line-height: 45px;
	margin-top: 5px;
	border-radius: 5px;
	background-color: white;
}
body .share-bottom>button{
	color: blue;
	font-size: 16px;
}
body .share-btn{
	margin-top: 25px;
	width: 23%;
	height: 85px;
	display: inline-block;

}
body .share-btn>img{
	height: 100%;
	width: 100%;
}