@charset "utf-8";
#applyService_applyService{
  height: 100%;
  width: 100%;
  overflow:hidden;
  background: #EFEFF4;
}

#applyService_applyService .fl{
  float: right;
}

#applyService_applyService .header{
  background: #fff;
  height: 10vw;
  width: 100%;
  font-size: 4vw;
  font-weight: bold;
  line-height: 10vw;
  text-align: center;
  border-bottom: 1px solid #EEEEF0;
  position: relative;
}

#applyService_applyService .header img{
  position: absolute;
  top:1.5vw;
  left: 4vw;
  width: 7vw;
}

#applyService_applyService .main{
  overflow-y: auto;
  overflow-x: hidden;
}

#applyService_applyService .pieceContent{
  height: 25vw;
  padding: 0 4vw 0 4vw;
  position: relative;
  background: #fff;
}

#applyService_applyService  .pieceContent img{
  margin-top: 2.7vw;
  width: 20vw;
  height: 20vw;
}

#applyService_applyService  .pieceContent .info{
  position: absolute;
  top:3vw;
  left: 27vw;
}

#applyService_applyService .applyPiece .pieceContent .info{
  position: absolute;
  top:6vw;
  left: 27vw;
}

#applyService_applyService .info p{
  width: 70vw;
  color:#7b7a7a;
}

#applyService_applyService .info p span{
 
}

#applyService_applyService .desc{
  width: 100%;
  height: 10vw;
  background: #fff;
  margin-top: 3vw;
  line-height: 10vw;
  font-size: 4vw;
  padding-left: 4vw;
}

#applyService_applyService .dexTxt{
  width: 101%;
  height: 30vw;
  border:none;
  padding: 4vw;
  outline: none;
  background: #EFEFF4;
  color: #000;
  font-family: "微软雅黑"；
}

#applyService_applyService .imgCont{
  margin-top: 3vw;
  width: 100%;
  background: #fff;
  padding: 0vw;
  padding-top: 4vw;
  padding-left: 1vw;
}

#applyService_applyService .imgCont img{
  width: 21.5vw;
  border-radius: 1vw;
  height: 21.5vw;
}

#applyService_applyService .imgCont ul{
  width: 100%
  text-align:center;
}

#applyService_applyService .imgCont ul li{
  display: inline-block;
  width: 23.8%;
  text-align:center;
  margin-bottom: 4vw;
}

#applyService_applyService .imgCont p{
  margin-left: 0.8vw;

}

#applyService_applyService .imgCont p img{
  padding: 4vw;
  width: 14vw;
  border:1px solid #C5C4C4;
  border-radius: 1vw;
  height: 14vw;
}

/*李毅恒开始改*/
#applyService_applyService > div .content .userinfo {
  width: 100%;
  background: #FFFFFF;
  font-size: 4vw;
  padding: 3vw 5vw 3vw 5vw;
  border-bottom: 1px solid #CCC;
  height: 16vw;
  margin-top: 3vw;
}
#applyService_applyService > div .content .userinfo input {
  width: 60vw;
  font-size: 3.5vw;
  border: none;
  outline: none;
  padding-left: 4vw;
}
#applyService_applyService > div .userInput {
  border-bottom: 1px solid #EEEEF0;
  padding-bottom: 3vw;
  padding-right: 4vw;
  width: 100%;
}
#applyService_applyService > div .userContact {
  margin-top: 3vw;
}
#applyService_applyService > div .sumbitBtn {
  width: 100%;
  height: 40vw;
  position: relative;
}
#applyService_applyService > div .sumbitBtn p {
  position: absolute;
  top: 3vw;
  left: 6vw;
  color: #bfbfbf;
  font-size: 0.32rem;
}
#applyService_applyService > div .sumbitBtn button {
  position: absolute;
  top: 20vw;
  left: 8vw;
  width: 80vw;
  height: 10vw;
  font-size: 4vw;
  background: #EA5514;
  border: none;
  border-radius: 4vw;
  color: #fff;
}
