#icenter_information {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #F0EFF5;
}
#icenter_information header{
	width: 100%;
	height: 16vw;
	background-color: #fff;
	overflow: hidden;
	position: relative;
}
#icenter_information header img{
	width: 6.93vw;
	height: 6.93vw;
	display: inline-block;
	margin: 4vw 0px 0px 5.33vw;
}
#icenter_information header span{
	display: inline-block;
	font-size: 5.87vw;
	font-family: "黑体";
	color: #4E4D53;
	vertical-align: top;
	margin: 5.07vw 0px 0px 24vw;
}
#icenter_information .head_portrait{
    width: 11vw;
    height: 11vw;
    margin-left: 43vw;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    background-color: #e5e5e5;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    margin-top: 3.8vw;
}
#icenter_information .img_icon{
	width: 11vw;
	height: 11vw;
	border-radius: 50%;
	overflow: hidden;
}
#icenter_information .head_photo_control{
	margin-top: 5.33vw;
	width: 100%;
	height: 18.07vw;
	background-color: #fff;
}
#icenter_information .login_message_control{
	width: 100%;
	height: 13vw;
	background-color: #fff;
	overflow: hidden;
	border-top: 1px solid #eee;
}
#icenter_information .sex_message_control{
	width: 100%;
	height: 13vw;
	background-color: #fff;
	overflow: hidden;
	border-top: 1px solid #eee;
}
#icenter_information .information_logo{
    width: 6.4vw;
    height: 6.4vw;
    display: inline-block;
    margin: 3vw 0px 0px 6.67vw;
}
#icenter_information .information_logo_1{
    width: 6.4vw;
    height: 6.4vw;
	display: inline-block;	
    margin: 6.93vw 0px 0px 6.67vw;	
}
#icenter_information .span_infor{
	vertical-align: top;
	display: inline-block;
    font-size: 4.27vw;
    margin: 3.37vw 0px 0px 2.67vw;	
}
#icenter_information .span_infor_1{
	vertical-align: top;
	display: inline-block;
	font-size: 4.27vw;
	margin: 7.47vw 0px 0px 2.67vw;
}
#icenter_information .right_copy{
	width: 2.67vw;
	height: 4.27vw;
	display: block;
	float: right;
	margin: 7.47vw 5.33vw 0px 0px;	
}
#icenter_information .right_copy_2{
	width: 2.67vw;
	height: 4.27vw;
	display: block;
	float: right;
	margin: 5.07vw 5.33vw 0px 0px;
}
#icenter_information .span_login_in{
	display: block;
	float: right;
	font-size: 4.27vw;
	margin: 4.27vw 5.33vw 0px 0px;
}
#icenter_information .div_float_1{
	width: 100%;
	height: 91%;
	z-index: 100;
	background-color: #111;
	position: absolute;
	top: 16vw;
	left: 0px;
	display: none;
	opacity: 0.4;
}
#icenter_information #sex, #icenter_information #pho{
	width: 90%;
	border-radius: 7px;
	position: absolute;
	top: 72%;
	margin-left: 5%;
	z-index: 200;
	background-color: #fff;
}
#icenter_information .sex_male,#icenter_information .photo_take{
	width: 100%;
	text-align: center;
	color: #E27A41;
	opacity: none;
	line-height: 14vw;
	font-size: 4.27vw;
	font-weight: normal;
	border-bottom: 1px solid #eee;
	display: none;
}
#icenter_information .sex_female,#icenter_information .photo_photogragh{
	width: 100%;
	text-align: center;
	color: #E27A41;
	opacity: none;
	line-height: 14vw;
	font-size: 4.27vw;
	display: none;
	font-weight: normal;
}
#icenter_information .take_concel_2,#icenter_information .take_concel{
	width: 90%;
	border-radius: 7px;
	background-color: #fff;
	text-align: center;
	z-index: 200;
	position: absolute;
	top: 91%;
	margin-left: 5%;
	color: #484D59;
	opacity: none;
	line-height: 14vw;
	font-size: 4.37vw;
	display: none;
	font-weight: normal;
}
#icenter_information .span_text_value{
	display: inline-block;
	vertical-align: top;
    font-size: 4.27vw;
    margin: 4vw 0px 0px 44.8vw;
}
