#home_payCenter {
	height: 100%;
	background-color: #EFEFF4;
	position: relative;
}
#home_payCenter >div.header {
	background-color: #EA5514;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 44px;
}
#home_payCenter >div.header >a.goBack {
	background: url(../images/common/round_left.png) no-repeat;
	background-size: contain;
	display: inline-block;
    width: 28px;
    height: 28px;
    margin: 9px 0 0 12px;
}
#home_payCenter >div.header >span {
	color: #fff;
    text-align: center;
    margin: auto;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 60%;
    font-size: 16px;
}
#home_payCenter >div.main {
	position: absolute;
	width: 100%;
	top: 44px;
    overflow-x: hidden;
    overflow-y: auto;
}
#home_payCenter >div.main >div.warp >div:not(.payMode) {
	background-color: #fff;
    width: 100%;
}
#home_payCenter >div.main >div.warp >div:not(.payMode) >div {
    padding: 0 15px;
    border-bottom: 1px solid #F9F9F9;
}
#home_payCenter >div.main >div.warp >div:not(.payMode) >div:last-child {
    border: none;
}
#home_payCenter >div.main >div.warp >div:not(.payMode) >div:after {
    content: '';
    display: block;
    clear: both;
}
#home_payCenter >div.main >div.warp >div:not(.payMode) span {
    min-width: 50px;
    width: 23.5%;
    padding: 12px 0;
    display: block;
    float: left;
}
#home_payCenter >div.main >div.warp >div:not(.payMode) p {
    float: right;
    text-align: right;
    width: 70%;
    padding: 12px 0;
    min-width: 190px;
    word-break: break-all;
}
#home_payCenter >div.main >div.warp >div:not(.payMode) >div:last-child p {
	color: #EA5514;
}
#home_payCenter >div.main >div.warp >div.payMoney {
	margin: 10px 0;
}
#home_payCenter >div.main >div.warp >h5 {
	color: #888;
    margin: 10px 16px;
}
#home_payCenter >div.main >div.warp >div.payMode {
	padding-left: 16px;
	background-color: #fff;
}
#home_payCenter >div.main >div.warp >div.payMode >div {
	padding: 5px 0;
	position: relative;
}
#home_payCenter >div.main >div.warp >div.payMode img {
	float: left;
	width: 34px;
	height: 34px;
	margin: 6px 16px 0 0;
}
#home_payCenter >div.main >div.warp >div.payMode >div:after {
	content: '';
	display: inline-block;
	clear: both;
	position: absolute;
}
#home_payCenter >div.main >div.warp >div.payMode >div.selected:after {
	background: url(../images/common/check.png) no-repeat;
	background-size: contain;
	height: 14px;
	width: 14px;
    top: 26px;
    right: 16px;
}
#home_payCenter >div.main >div.warp >div.payMode >div:first-child {
	border-bottom: 1px solid #E5E5E5;
}
#home_payCenter >div.main >div.warp >div.payMode p {
	margin: 3px 0;
}
#home_payCenter >div.main >div.warp >div.payMode p:last-child {
	color: #9C9C9C;
	font-size: 14px;
}
#home_payCenter >div.main >div.warp button {
    display: block;
    margin: 0 auto;
    background-color: #EA5514;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 100px;
    margin-top: 20px;
    padding: 10px 0;
    width: 90%;
    font-size: 16px;
    margin-bottom: 20px;
}
#home_payCenter >div.main >div.confirm {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}
#home_payCenter >div.main >div.confirm h4 {
    height: 50px;
    margin: 0;
    line-height: 51px;
    text-align: center;
}
#home_payCenter >div.main >div.confirm p {
    color: #999;
    border-bottom: 1px solid #D6D6DB;
    padding: 0;
    margin: 0;
    height: 50px;
    line-height: 30px;
    text-align: center;
}
#home_payCenter >div.main >div.confirm >div {
    height: 140px;
    width: 260px;
    position: absolute;
    background-color: #fff;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#home_payCenter >div.main >div.confirm >div:after {
    content: '';
    display: block;
    clear: both;
}
#home_payCenter >div.main >div.confirm button {
    width: 47%;
    height: 39px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}