@charset "utf-8";
#activity >div.info {
	height: 34px;
	background-color: #FFEED0;
	border: 1px solid #D6D6DB;
	margin-top: -1px;
}
#activity >div.info i {
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-top: 5px;
}
#activity >div.info i:first-child {
	background-image: url(../images/common/info.png);
	margin-left: 14px;
}
#activity >div.info i:last-child {
	background-image: url(../images/common/right.png);
	float: right;
	width: 16px;
	height: 16px;
	margin-top: 9px;
	margin-right: 10px;
}
#activity >div.info span {
	color: #7F8389;
	position: relative;
    font-size: 14px;
	top: -6px;
    left: 10px;
}
@media screen and (max-width: 350px) {
	#activity >div.info i:first-child {
		margin-left: 12px;
	}
}
#activity >img {
	width: 100%;
	margin-top: 10px;
}
#activity >div.content {
	background: #E00020; /* 一些不支持背景渐变的浏览器 */
    background: -moz-linear-gradient(top, #E00020, #EA5514);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E00020), to(#EA5514));
    background: -o-linear-gradient(top, #E00020, #EA5514);
    text-align: center;
    padding: 10px 0;
    margin-top: -4px;
}
#activity >div.content >img {
	max-width: 90%;
}
#activity div.item:after {
	content: '';
	display: block;
	clear: both;
}
#activity div.item {
    border-radius: 6px;
    max-width: 94%;
    min-width: 340px;
    max-height: 160px;
    background-color: #fff;
    margin: 10px auto;
    position: relative;
}
#activity div.item img {
	max-height: 130px;
	float: left;
	margin-top: 10px;
    margin-left: 6px;
}
#activity div.item >div {
	float: left;
	text-align: left;
}
#activity div.item h3 {
    margin: 10px 0 0 0;
    color: #EA5514;
}
#activity div.item h6 {
	color: #EA5514;
    margin: 3px 0 0 0;
    font-weight: normal;
}
#activity div.item ul {
	font-size: 14px;
	padding: 0;
    list-style: none;
    margin: 10px 0 0 0;
}
#activity div.item li:before {
	content: '·';
	padding-right: 5px;
}
#activity div.item p {
	margin: 10px 0 15px 0;
    font-size: 14px;
}
#activity div.item span {
	font-size: 16px;
	color: #EA5514;
	font-weight: bold;
}
#activity div.item >div a {
    background-color: #EA5514;
    border-radius: 100px;
    color: #fff;
    display: block;
    width: 20%;
    height: 26px;
    line-height: 25px;
    font-size: 12px;
    position: absolute;
    right: 4.5%;
    bottom: 12px;
    font-size: 12px;
    text-align: center;
}
@media screen and (min-width: 410px) {
	#activity div.item img {
	    margin-top: 10px;
	    margin-left: 10px;
        max-height: 130px;
	}
	#activity div.item a {
	    font-size: 14px;
	    width: 22%;
	    max-width: 120px;
	    height: 28px;
	    line-height: 28px;
	}
}
@media screen and (max-width: 350px) {
	#activity div.item {
		min-width: 300px;
	}
	#activity div.item img {
	    max-width: 100px;
	    margin-top: 25px;
	}
	#activity div.item a {
		height: 20px;
		line-height: 20px;
		bottom: 9%;
	}
}