@charset 'utf-8';
#orderRecord >ul {
	width: 100%;
	background-color: #fff;
	list-style: none;
	border-top: 1px solid #D6D6DB;
	border-bottom: 1px solid #D6D6DB;
}
#orderRecord >ul:after {
	content: "";
	display: block;
	clear: both;
}
#orderRecord >ul li {
	float: left;
	display: block;
	border-bottom: 2px solid #fff;
	width: 25%;
    height: 40px;
    line-height: 42px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
#orderRecord >ul li.active {
	border-color: #EA5514;
}
#orderRecord >div.orders {
	padding: 10px;
}
#orderRecord div.order {
    padding: 0 0 46px 10px;
	background-color: #fff;
	position: relative;
	margin-bottom: 10px;
}
#orderRecord div.order >h5 {
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: normal;
    padding-right: 10px;
}
#orderRecord div.order >h5 b {
	float: right;
	font-weight: normal;
}
#orderRecord div.order >div {
	background-color: #FAFAFA;
	height: 100px;
    margin-left: -10px;
}
#orderRecord div.order img {
	float: left;
	height: 60px;
	height: 80px;
    margin: 10px 10px 0 10px;
}
#orderRecord div.order >div span {
	float: right;
	margin-right: 10px;
}
#orderRecord div.order >div p {
	padding-top: 10px;
}
#orderRecord div.order >div p:nth-child(2) span {
	color: #EA5514;
}
#orderRecord div.order >div p:nth-child(3) {
	font-size: 14px;
	color: #A9A9A9;
}
#orderRecord div.order >p {
	height: 40px;
	border-bottom: 1px solid #D6D6DB;
	font-size: 14px;
	color: #A9A9A9;
    text-align: right;
    line-height: 40px;
    padding-right: 10px;
}
#orderRecord div.order >p >span {
	color: #EA5514;
}
#orderRecord div.order >a {
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    position: absolute;
    bottom: 8px;
    right: 10px;
    border: 1px solid #EA5514;
}
/*未完成*/
#orderRecord div.order.pendingPay >a {
	background-color: #EA5514;
}
#orderRecord div.order.pendingPay >p b {
	color: #EA5514;
}
/*可用-立即使用*/
#orderRecord div.order.available >a {
	color: #F8B62D;
	border: 1px solid #F8B62D;
}
#orderRecord div.order.available >p b {
	color: #F8B62D;
}
/*已使用*/
#orderRecord div.order.alreadyUsed >a {
	color: #EA5514;
	border: 1px solid #EA5514;
}
#orderRecord div.order.alreadyUsed >p b {
	color: #A9A9A9;
}
/*可用-立即预约*/
#orderRecord div.order.appointment >a {
	background-color: #F8B62D;
	border-color: #F8B62D;
}
#orderRecord div.order.appointment >p b {
	color: #F8B62D;
}