#icenter_advice {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #F0EFF5;
    overflow-y: auto;
    overflow-x: hidden;
}
#icenter_advice >div.header {
	background-color: #FFF;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 43px;
}
#icenter_advice >div.header >a.goBack {
	background: url(../../images/common/round_left_blue.png) no-repeat;
	background-size: contain;
	display: inline-block;
    width: 28px;
    height: 28px;
    margin: 8px 0 0 12px;
}
#icenter_advice >div.header >span.title {
    text-align: center;
    margin: auto;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    top: 1px;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 60%;
    font-size: 16px;
}
#icenter_advice >div.header >a.advice_contact {
	float: right;
    font-size: 14px;
	padding: 4px;
	margin: 8px;
}
#icenter_advice .advice_textarea{
    border: none;
    outline: none;
    width: 90vw;
    height: 45vw;
    margin: 20vw 5vw 5vw;
    border-radius: 0.8vw;
    padding: 2vw;
    box-sizing: border-box;
}
#icenter_advice .advice_button{
    width: 90vw;
    height: 11.73vw;
    background-color: #EA5513;
    color: #fff;
    font-size: 4.53vw;
    border-radius: 6.67vw;
    border: none;
    outline: none;
    margin-left: 5vw;
}
#icenter_advice >div.confirm {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    z-index: 9;
}
#icenter_advice >div.confirm h4 {
    height: 50px;
    margin: 0;
    line-height: 51px;
    text-align: center;
    font-size: 16px;
}
#icenter_advice >div.confirm p {
    color: #999;
    border-bottom: 1px solid #D6D6DB;
    padding: 0;
    margin: 0;
    height: 70px;
    line-height: 30px;
    text-align: center;
}
#icenter_advice >div.confirm >div {
    height: 160px;
    width: 260px;
    position: absolute;
    background-color: #fff;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#icenter_advice >div.confirm >div::after {
    content: '';
    display: block;
    clear: both;
}
#icenter_advice >div.confirm button {
    width: 49%;
    height: 39px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}
#icenter_advice >div.confirm a {
    width: 49%;
    height: 39px;
    font-size: 16px;
    background-color: #fff;
    color: #EA5514;
    border-left: 1px solid #D6D6DB;
    display: inline-block;
    text-align: center;
    float: right;
    line-height: 39px;
}
#icenter_advice div.advice_list {
    margin-top: 15px;
}
#icenter_advice div.advice_list h4 {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
}
#icenter_advice div.advice_list div.advice {
    padding: 5px 15px;
}
#icenter_advice div.advice_list div.advice >span {
    color: #999;
}
#icenter_advice div.advice_list div.advice >p {
    word-break: break-all;
}