#share_share {
	position: relative;
	overflow: hidden;

    width: 100%;
    height: 100%;
    background-color: red;

}
#share_share .bg{
	width: 100%;
    height: 100%;
	background: url("../images/invite/sharebg.png");
	background-size:100% 100%;
	overflow:hidden;

}

#share_share div.shareWin{
	margin-top: 75%;
	margin-left: 15%;
	width: 70%;
	text-align: center;
}

#share_share div.sharebtn{
	width: 100px;
    height: 100px;
	background: url("../images/invite/sharebtn.png") ;
	background-size:100% 100%;
	display: inline-block;
}
#share_share ul{
	margin-top: 20px;
}
#share_share ul li {
    text-align: left;
    color: white;
    font-size: 13px;
    font-family: "";
}
/*设置分享弹出框的样式*/
body .share-alert{
	background:rgba(0,0,0,0);


}
body .share-top{
	background:white;
	width: 100%;
	height: 190px;
	border-radius: 5px;

}
body .share-bottom {
	width: 100%;
	height: 45px;
	text-align: center;
	line-height: 45px;
	margin-top: 5px;
	border-radius: 5px;
	background-color: white;
}
body .share-bottom>button{
	color: blue;
	font-size: 16px;
}
body .share-btn{
	margin-top: 25px;
	width: 23%;
	height: 85px;
	display: inline-block;

}
body .share-btn>img{
	height: 100%;
	width: 100%;
}
/* <script type="text/html" id="share_share_alert">
        <div class="share-alert">
            <div class="share-top">
                <div class="share-btn" data-type="wechat">
                    <img src="./images/invite/wechat.png">
                </div>
                <div class="share-btn" data-type="friendscircle">
                    <img src="./images/invite/friendscircle.png">
                </div>
                <div class="share-btn" data-type="qrcode">
                    <img src="./images/invite/qq.png">
                </div>
                <div class="share-btn" data-type="qrcode">
                    <img src="./images/invite/qqzone.png">
                </div>
            </div>
            <div class="share-bottom">
                <button class="share-cancle">取消</button>
            </div>
        </div>
    </script>*/
/*body .demo-class .layui-layer-content{}*/
/*body .demo-class .layui-layer-btn{border-top:1px solid #E9E7E7}
body .demo-class .layui-layer-btn a{background:#333;}
body .demo-class .layui-layer-btn .layui-layer-btn1{background:#999;}*/