@charset "utf-8";
/* CSS Document */
#shop_shopDetail{
	width: 100%;
	background: #EFEFF4;
	min-height: 100%
}

#shop_shopDetail .banner{
	width: 100%;
	height: 55vw;
	position: relative;
}


#shop_shopDetail .banner .back{
	position: absolute;
	left: 4vw;
	top: 3vw;
	z-index: 10;
	width: 7vw;
	height: 7vw;
	box-shadow: 0px 0px 20px #fff;
    border-radius: 50%;
}


#shop_shopDetail .content{
	width: 100%;
	padding: 0 4vw 0 4vw;
	border-bottom:1px solid #d6d6db;
	background: #fff;
	position: relative;
}

#shop_shopDetail .title{
	border-bottom:1px solid #d6d6db;
}

#shop_shopDetail .title h2{
	padding-top: 3vw;
	font-size: 4.8vw;
	width: 80vw;
}

#shop_shopDetail .title p{
	margin:2vw 0 2vw 0;
	font-size: 3.33vw;
}

#shop_shopDetail .title span{
	color: #f60;
}

#shop_shopDetail .address{
	display: table;
	min-height: 12vw;
	width: 91.5vw;
}

#shop_shopDetail .address span{
	display:table-cell;
	vertical-align: middle;
}

#shop_shopDetail .map{
	width: 5vw;
	float: left;
}

#shop_shopDetail .phone{
	width: 6vw;
	margin-left: 4vw;
	margin-top: 1.5vw;
}

#shop_shopDetail .address p{
	padding-left: 2vw;
	font-size: 3.8vw;
	width: 75vw;
	display:table-cell;
	vertical-align: middle;
}

#shop_shopDetail .info{
	width: 100%;
	padding: 0 4vw 0 4vw;
	border-bottom:1px solid #d6d6db;
	margin-top: 3vw;
	background: #fff;
}

#shop_shopDetail .info h3{
	border-bottom:1px solid #d6d6db;
	font-weight: 600;
	font-size: 4.44vw;
	padding:2vw 0 2vw 0;
}

#shop_shopDetail .info p{
	font-size: 3.5vw;
	margin:1vw 0 2vw 0;
	color: #797878;
}

#shop_shopDetail .btn{
	position: absolute;
	top:3.5vw;
	right: 11vw;
	background: none;
	outline: none;
	border:none;
	width: 25vw;
	border-radius: 25px;
	height: 7vw;
}

#shop_shopDetail .btn span{
	color:#000;
}

#shop_shopDetail .btn img{
	float: right;
	width: 5.5vw;
}

#shop_shopDetail .storeService{
	width: 100%;
	margin-top:4vw;
}

#shop_shopDetail .serviceNav{
	width: 25%;
	height: 60vw;
	overflow-y:auto;
	display: inline-block;
	background: #EFEFF4;
	box-sizing: border-box;
	vertical-align: top;
}

#shop_shopDetail .serviceNav ul{
	width: 100%;
}

#shop_shopDetail .serviceNav ul li{
	width: 100%;
	text-align: center;
	font-size: 3.8vw;
	height: 10vw;
	line-height: 10vw;
}

#shop_shopDetail .serviceNav .active{
	background: #fff;
	color: #f60;
}

#shop_shopDetail .serviceContent{
	width: 75%;
	height: 60vw;
	overflow-y:auto;
	display: inline-block;
	background: #fff;
	box-sizing: border-box;
	vertical-align: top;
}

#shop_shopDetail .serviceContent .item{
	display: none;
}

#shop_shopDetail .serviceContent .active{
	display: block;
}

#shop_shopDetail .serviceContent .oneService{
	margin-left: 4vw;
	border-bottom: 1px solid #F3F3F4;
	padding: 3vw 2vw 2vw 0;
}

#shop_shopDetail .serviceContent .serviceTitle{
	font-size: 3.8vw;
	color: #000;
	margin-bottom: 2vw;
}

#shop_shopDetail .serviceContent .serviceDesci{
	font-size: 3.5vw;
	color: #8D8D8D;
	margin-bottom: 1vw;
}

#shop_shopDetail .serviceContent .price span{
	font-size: 3.8vw;
	color: #f60;
}

#shop_shopDetail .serviceContent .price button{
	float: right;
	color: #fff;
	background: #f60;
	border-radius: 3vw;
	border:none;
	outline: none;
}

#shop_shopDetail .adv{
	margin: 10vw 0 0vw 5vw;
	display: none;
}

#shop_shopDetail .adv img{
	width: 88vw;
}

/* banner */
#shop_shopDetail .shopbanner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 55vw;
}
#shop_shopDetail .shopbanner .hd {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    text-align: center;
}
#shop_shopDetail .shopbanner .hd ul {
    height: 7px;
    padding: 3px 5px;
    font-size: 0;
    vertical-align: top;
}
#shop_shopDetail .shopbanner .hd ul li {
    display: inline-block;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: rgba(255,255,255,.6);
    margin: 0 5px;
    vertical-align: top;
    overflow: hidden;
}
#shop_shopDetail .shopbanner .hd ul .on {
    background: #fff;
}
#shop_shopDetail .shopbanner .bd {
    position: relative;
    z-index: 0;
}
#shop_shopDetail .shopbanner .bd ul li {
    float: left;
    list-style: none;
}
#shop_shopDetail .shopbanner .bd li img {
    width: 100%;
    height: 55vw;/* 有待实际验证 */
    background-color: #fff; 
}
#shop_shopDetail .shopbanner .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}