@charset "utf-8";
/* CSS Document */
#shop_shopDetail{
	width: 100%;
	background: #EFEFF4;
	height: 100%;
}

#shop_shopDetail .banner{
	width: 100%;
	height: 55vw;
	position: relative;
}

#shop_shopDetail .banner img{
	width: 100%;
	height: 55vw;
}


#shop_shopDetail .banner .back{
	position: absolute;
	left: 4vw;
	top: 3vw;
	z-index: 10;
	width: 7vw;
	height: 7vw;
}


#shop_shopDetail .content{
	width: 100%;
	padding: 0 4vw 0 4vw;
	border-bottom:1px solid #d6d6db;
	background: #fff;
	position: relative;
}

#shop_shopDetail .title{
	
	border-bottom:1px solid #d6d6db;
}

#shop_shopDetail .title h2{
	padding-top: 3vw;
	font-size: 4.8vw;
}

#shop_shopDetail .title p{
	margin:2vw 0 2vw 0;
	font-size: 3.33vw;
}

#shop_shopDetail .title span{
	color: #f60;
}


#shop_shopDetail .address{
	position: relative;
	height: 12vw;
	line-height: 12vw;
}

#shop_shopDetail .map{
	position: absolute;
	top:3vw;
	left: 2vw;
	width: 5vw;
}

#shop_shopDetail .phone{
	position: absolute;
	top:3vw;
	right:8vw;
	width: 6vw;
}

#shop_shopDetail .address p{
	padding-left: 9vw;
	font-size: 3.8vw;
}

#shop_shopDetail .info{
	width: 100%;
	padding: 0 4vw 0 4vw;
	border-bottom:1px solid #d6d6db;
	margin-top: 3vw;
	background: #fff;
}

#shop_shopDetail .info h3{
	border-bottom:1px solid #d6d6db;
	font-weight: 600;
	font-size: 4.44vw;
	padding:2vw 0 2vw 0;
}

#shop_shopDetail .info p{
	font-size: 3.5vw;
	margin:1vw 0 2vw 0;
	color: #797878;
}

#shop_shopDetail .adv{
	position:relative;
	top:10vw;
	left: 5vw;

}

#shop_shopDetail .adv img{
	width: 88vw;
}

#shop_shopDetail .btn{
	position: absolute;
	top:3.5vw;
	right: 11vw;
	background: none;
	outline: none;
	border:none;
	width: 25vw;
	border-radius: 25px;
	height: 7vw;
}

#shop_shopDetail .btn span{
	color:#000;
}

#shop_shopDetail .btn img{
	float: right;
	width: 5.5vw;
}