#payCenter_payCenter {
	height: 100%;
	background-color: #EFEFF4;
}
#payCenter_payCenter >div.header {
	background-color: #EA5514;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 44px;
}
#payCenter_payCenter >div.header >a.goBack {
	background: url(../images/common/round_left.png) no-repeat;
	background-size: contain;
	display: inline-block;
    width: 28px;
    height: 28px;
    margin: 9px 0 0 12px;
}
#payCenter_payCenter >div.header >span {
	color: #fff;
    text-align: center;
    margin: auto;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 60%;
}