#home_activity {
    height: 100%;
    background-color: #EFEFF4;
    position: relative;
}
#home_activity >div.header {
	background-color: #EA5514;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 44px;
}
@media screen and (min-width: 410px) {
	#home_activity >div.header {
		height: 48px;
	}
}
@media screen and (max-width: 350px) {
	#home_activity >div.header {
		height: 40px;
	}
}
#home_activity >div.header >a.goBack {
	background: url(../../images/common/round_left.png) no-repeat;
	background-size: contain;
	display: inline-block;
    width: 28px;
    height: 28px;
    margin: 8px 0 0 12px;
}
#home_activity >div.header >span.title {
	color: #fff;
    text-align: center;
    margin: auto;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    top: 1px;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 60%;
    font-size: 16px;
}
@media screen and (min-width: 410px) {
	#home_activity >div.header >a.goBack {
	    width: 30px;
	    height: 30px;
	}
	#home_activity >div.header >span.title {
		height: 32px;
		line-height: 32px;
	}
}
@media screen and (max-width: 350px) {
	#home_activity >div.header >a.goBack {
	    width: 24px;
	    height: 24px;
	}
	#home_activity >div.header >span.title {
		height: 26px;
		line-height: 26px;
	}
}
#home_activity >div.main {
	overflow-x: hidden;
	overflow-y: auto;
    width: 100%;
    position: absolute;
    top: 44px;
}
@media screen and (min-width: 410px) {
    #home_activity >div.main {
        top: 48px;
    }
}
@media screen and (max-width: 350px) {
    #home_activity >div.main {
        top: 40px;
    }
}
#home_activity >div.main div.info {
	height: 34px;
	background-color: #FFEED0;
	border-bottom: 1px solid #D6D6DB;
}
#home_activity >div.main div.info i {
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-top: 5px;
}
#home_activity >div.main div.info i:first-child {
	background-image: url(../../images/common/info.png);
	margin-left: 14px;
}
#home_activity >div.main div.info i:last-child {
	background-image: url(../../images/common/right.png);
	float: right;
	width: 16px;
	height: 16px;
	margin-top: 9px;
	margin-right: 10px;
}
#home_activity >div.main div.info span {
	color: #7F8389;
	position: relative;
    font-size: 14px;
	top: -6px;
    left: 10px;
}
@media screen and (max-width: 350px) {
	#home_activity >div.main div.info i:first-child {
		margin-left: 12px;
	}
}
#home_activity >div.main >div.warp >img {
	width: 100%;
	margin-top: 10px;
}
#home_activity >div.main div.content {
	background: #E00020; /* 涓�浜涗笉鏀寔鑳屾櫙娓愬彉鐨勬祻瑙堝櫒 */
    background: -moz-linear-gradient(top, #E00020, #EA5514);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E00020), to(#EA5514));
    background: -o-linear-gradient(top, #E00020, #EA5514);
    text-align: center;
    padding-top: 10px;
    margin-top: -4px;
}
#home_activity >div.main div.content >img {
	max-width: 90%;
}
#home_activity >div.main div.products {
	padding-bottom: 10px;
}
#home_activity >div.main div.products.loading::after {
    content: '加载中···';
    color: #FFF;
}
#home_activity >div.main div.products.loaded::after {
    content: '已加载全部';
    color: #FFF;
}
#home_activity >div.main div.item::after {
	content: '';
	display: block;
	clear: both;
}
#home_activity >div.main div.item {
    border-radius: 6px;
    max-width: 94%;
    min-width: 340px;
    max-height: 160px;
    background-color: #fff;
    margin: 10px auto;
    position: relative;
}
#home_activity >div.main div.item img {
	max-height: 120px;
	float: left;
	margin-top: 10px;
    margin-left: 6px;
}
#home_activity >div.main div.item >div {
	float: left;
	text-align: left;
	margin-left: 5px;
	width: 60%;
}
#home_activity >div.main div.item h3 {
    margin: 10px 0 0 0;
    color: #EA5514;
}
#home_activity >div.main div.item h6 {
	color: #EA5514;
    margin: 3px 0 0 0;
    font-weight: normal;
}
#home_activity >div.main div.item h5 {
    margin: 10px 0 0 0;
    font-weight: normal;
    height: 50px;
}
#home_activity >div.main div.item ul {
	font-size: 14px;
	padding: 0;
    list-style: none;
    margin: 10px 0 0 0;
}
#home_activity >div.main div.item li::before {
	content: '·';
	padding-right: 5px;
}
#home_activity >div.main div.item p {
	margin: 10px 0 15px 0;
    font-size: 14px;
}
#home_activity >div.main div.item span {
	font-size: 16px;
	color: #EA5514;
	font-weight: bold;
}
#home_activity >div.main div.item >div a {
    background-color: #EA5514;
    border-radius: 100px;
    color: #fff;
    display: block;
    width: 20.5%;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    position: absolute;
    right: 3%;
    bottom: 12px;
    font-size: 12px;
    text-align: center;
}
@media screen and (min-width: 410px) {
	#home_activity >div.main div.item img {
	    margin-top: 10px;
	    margin-left: 10px;
        max-height: 124px;
	}
	#home_activity >div.main div.item a {
	    font-size: 14px;
	    width: 22%;
	    max-width: 120px;
	    height: 28px;
	    line-height: 28px;
	}
}
@media screen and (max-width: 350px) {
	#home_activity >div.main div.item {
		min-width: 300px;
	}
	#home_activity >div.main div.item img {
	    max-width: 100px;
	    margin-top: 16px;
        margin-left: 4px;
	}
	#maintain_maintain >div.main div.item ul {
		font-size: 12px;
	}
	#home_activity >div.main div.item a {
		height: 20px;
		line-height: 20px;
		bottom: 9%;
	}
	#home_activity >div.main div.item p {
		font-size: 12px;
	}
	#home_activity >div.main div.item span {
		font-size: 14px;
	}
}