#vip_vip {
	margin: 0;
	padding: 0;
	background-color: #efeff4;
	height: 100%;
}
#vip_vip header{
	width: 100%;
	height: 12vw;
	background-color: #fff;
	overflow: hidden;
	position: relative;
}
#vip_vip header img{
	width: 6.9vw;
	height: 6.9vw;
	display: inline-block;
	margin: 2vw 0px 0px 5.3vw;
}
#vip_vip header span{
	display: inline-block;
	font-size: 4.6vw;
	color: #4A4D53;
	vertical-align: top;
	margin: 3.7vw 0px 0px 26.3vw;
}
#vip_vip .vip_wrap{
	width: 100%;
	height: 38.4vw;
	background: url(../images/center/center_bg.png) no-repeat top center;
	background-size: 100%; 
	overflow: hidden;
}
#vip_vip .vip_wrap ul{
	width: 34.7vw;
	overflow: hidden;
	margin: auto auto;
	color: #fff;
	text-align: center;
}
#vip_vip .vip_wrap ul li{
	overflow: hidden;
}
#vip_vip .vip_li_first{
	height: 12.8vw;
	margin: 2.7vw 0px 2.7vw 7px;
}
#vip_vip .vip_li_first_div{
	width: 12.8vw;
	height: 12.8vw;
	border-radius: 50%;
	background-color: #e5e5e5;
	margin-left: 9.3vw;
}
#vip_vip .vip_li_img_header{
	width: 9.6vw;
	height: 9.6vw;
	margin: 1.6vw 1.6vw;
}
#vip_vip .vip_li_img_rocket{
	width: 2.4vw;
	height: 4vw;
}
#vip_vip .vip_li_second,.vip_li_fourth span{
	font-size: 4.3vw;
}
#vip_vip .vip_li_third,.vip_li_fourth{
	font-size: 3.2vw;
}
#vip_vip .vip_apple{
	width: 100%;
	height: 12vw;
	background-color: #fff;
	margin-top: 2.4vw;
	overflow: hidden;
}
#vip_vip .vip_apple_to_you{
	width: 5.3vw;
	height: 5.9vw;
	display: inline-block;
	margin: 2.93vw 2.7vw;
}
#vip_vip .vip_banana_to_me{
	color: #000;
	margin-top: -10.1vw;
	margin-left: 10.7vw;
	font-size: 4.3vw;
	font-family: "Microsoft YaHei";
}
#vip_vip .vip_order_content{
	width: 100%;
	height: 22.7vw;
	background-color: #fff;
	margin-top: 1px;
	overflow: hidden;
}
#vip_vip .content_wrap_food{
	width: 25%;
	height: 16vw;
	text-align: center;
	float: left;
	margin-top: 2.7vw;
}
#vip_vip .order_business{
	font-size: 3.7vw;
	color: #575B65;
} 
#vip_vip .vip_order_content_1{
	width: 11.5vw;
	height: 10.7vw;
}
