#icenter_login {
	background-color: #EEEBF2;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
#icenter_login a.goback {
	display: block;
	height: 40px;
	width: 40px;
	background: url(../../images/center/back_left_black.png) no-repeat;
	background-size: 60%;
	background-position: center;
	position: absolute;
	top: 10px;
	left: 10px;
}
#icenter_login i.logo {
	display: block;
	height: 100px;
	width: 100px;
	background: url(../../images/center/logo_login.png) no-repeat;
	background-size: 80%;
	background-position: center;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	margin: 0 auto;
}