//header
#applyService_applyService {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#applyService_applyService >div.header {
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 105/75rem;
}
#applyService_applyService >div.header >a.goBack {
  background: url(../images/common/back.png) no-repeat;
  background-size: contain;
  display: inline-block;
  width: 44/75rem;
  height: 44/75rem;
  margin: 34/75rem 0 0 30/75rem;
}
#applyService_applyService >div.header >span.title {
  color: #4a4f59;
  text-align: center;
  margin: auto;
  font-weight: 700;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 105/75rem;
  line-height: 105/75rem;
  width: 60%;
  font-size: 36/75rem;
}
//list横向列表
#applyService_applyService >div.main{
  width: 100%;
  //height: 1230/75rem;
  margin-top: 105/75rem;
  overflow-x: hidden;
  overflow-y: auto;
  //width: 100%;
}
#applyService_applyService >div.main .content{
  width: 100%;
  //height: 1536/75rem;
  background: #efeff4;
}

//orders订单
#applyService_applyService >div .order{

}
//detail商品信息
#applyService_applyService >div .detail{
  width: 100%;
  height: 175/75rem;
  background: #fafafa;
}
#applyService_applyService >div .wrap{
  margin: 0 20/75rem;
  height: 175/75rem;
}
#applyService_applyService >div .wrap .left{
  float: left;
}
#applyService_applyService >div .wrap .left img{
  display: block;
  width: 135/75rem;
  height: 135/75rem;
  margin-top:20/75rem;
}
#applyService_applyService >div .wrap .right{
  float: left;
  margin-top:20/75rem;
  font-size: 28/75rem;
  padding-left: 20/75rem;
}

#applyService_applyService >div .wrap .right b{
  color: #ea5718;
  padding-left: 190/75rem;
}
#applyService_applyService >div .wrap .right p:nth-child(2){
  font-size: 24/75rem;
  color: #a9a9a9;
  padding-top: 20/75rem;
  position: relative;
}
#applyService_applyService >div .wrap .right p:nth-child(2) span{
 position: absolute;
  right: 0;
}
//desc问题描述
#applyService_applyService >div .content .desc{
  width: 100%;
  font-size: 34/75rem;
  color: #484d59;
  background: #FFFFFF;
  padding: 30/75rem;
  margin-top: 30/75rem;
}
//dexTxtCont
#applyService_applyService >div .content .dexTxtCont{
  width: 100%;

}
#applyService_applyService >div .content .dexTxt{
  height: 270/75rem;
  background: #efeff4;
  width: 100%;
  border:none;
  //padding: 0;
  font-size: 24/75rem;
  color: #a9a9a9;
  padding:.3rem;
  word-break: break-all;
}
//imgCont
#applyService_applyService >div .content .imgCont {
  width: 100%;
  padding-left: 30/75rem;
  background: white;
  padding-top: 20/75rem;
  margin-bottom: 20/75rem;

}
#applyService_applyService >div .content .imgCont ul{
  height: 2rem;
  margin:0;
  padding:0
}

#applyService_applyService >div .content .imgCont ul .imgCenter{
  margin-left:.7rem;
}
#applyService_applyService >div .content .imgCont ul>li{
  float:left;
  list-style: none;
}
#applyService_applyService >div .content .imgCont ul>li img{
  width:1.8rem;
  height:1.8rem;
}
#applyService_applyService >div .content .imgCont p img{
  width: 2rem;
  height: 2rem;
  padding:30/75rem 0;

}
//用户信息userinfo
#applyService_applyService >div .content .userinfo{
  width: 100%;
  background: #FFFFFF;
}
#applyService_applyService >div .content .userinfo p{
  padding-top: 30/75rem;
  padding-bottom: 30/75rem;
  //padding-left: 20/75rem;
}



