#icenter_discount{
	width:100%;
	height:100%;
	background:#efeff4;
}

#icenter_discount .header{
	width:100%;
	height:10vw;
	border-bottom:#d6d6db 1px  solid;
	font-size:4.33vw;
	line-height:10vw;
	text-align:center;
	background:#FFF;
	font-weight:bold;
	position:relative;
}

#icenter_discount .back{
	position:absolute;
	top:1.5vw;
	left:5vw;
	width:7vw;
}

#icenter_discount .nav{
	height:11.7vw;
	width:100%;
	border-bottom:#d6d6db 1px  solid;
	background:#FFF;
}

#icenter_discount .nav ul{
	width:100%;
	text-align:center;
}

#icenter_discount .nav ul li{
	display:inline-block;
	text-align:center;
	font-size:3.8vw;
	line-height:11.7vw;
	width:32%
}


#icenter_discount .on{
	color:#ea5514;
	border-bottom:2px #ea5514 solid;
}

#icenter_discount .first{
	margin-top:2vw;
}

#icenter_discount .oneDiscount img{
	width:99%;
}

#icenter_discount .haveUsed img{
	padding-left:1vw;
}

#icenter_discount .haveDate img{
	padding-left:0.6vw;
	padding-top:0.6vw;	
}

#icenter_discount .contentOn{
	display:block;
}

#icenter_discount .contentOff{
	display:none;
}