#myWallet_myWallet {
	margin: 0;
	padding: 0;
	background-color: #efeff4;
	height: 100%;
}
#myWallet_myWallet header{
	width: 100%;
	height: 16vw;
	background-color: #fff;
	overflow: hidden;
	position: relative;
}
#myWallet_myWallet header img{
	width: 6.9vw;
	height: 6.9vw;
	display: inline-block;
	margin: 4vw 0px 0px 5.3vw;
}
#myWallet_myWallet header span{
	display: inline-block;
	font-size: 5.3vw;
	color: #4E4D53;
	vertical-align: top;
	margin: 3.7vw 0px 0px 24vw;
}
#myWallet_myWallet .order_content{
	width: 100%;
	height: 17.3vw;
	background-color: #484D59;
	margin-top: 1px;
	overflow: hidden;
}
#myWallet_myWallet .content_wrap_food{
	width: 33.3%;
	height: 16vw;
	text-align: center;
	float: left;
	margin-top: 2.7vw;
}
#myWallet_myWallet .content_wrap_food_1{
	color: #E95829;
	display: inline-block;
	margin-bottom: 2vw;
}
#myWallet_myWallet .content_wrap_food_2{
	font-size: 3.7vw;
	color: #fff;
}
#myWallet_myWallet .footprint_date{
	height: 11.3vw;
	background: url(../images/center/center_customer_detail.png) no-repeat center center;
	background-size: 50%;
}
#myWallet_myWallet .footprint_contain {
	width: 49vw;
	height: 52vw;
	background-color: #fff;
	float: right;
	border: 0.5vw solid #eee;
	overflow: hidden;
}
#myWallet_myWallet .footprint_contain ul{
	width: 50vw;
	display: inline-block;
}
#myWallet_myWallet .footprint_contain ul li{
	background: #fff;
}
#myWallet_myWallet .foot_li_x5_img{
	width: 30.7vw;
	height: 30.7vw;
	margin-right: 2.7vw;
}
#myWallet_myWallet .footprint_text{
	font-size: 3.7vw;
}
#myWallet_myWallet .footprint_price{
	color: #EB6F42;
    margin-top: 1vw;
    width: 49vw;
    height: 10.3vw;
    border-bottom: 1px solid #E2E2E5;
}
#myWallet_myWallet .footprint_price_button{
	display: inline-block;
	width: 24vw;
	height: 6.4vw;
	text-align: center;
	vertical-align: top;
	border: 1px solid #EB6F42;
	border-radius: 5.3vw;
	font-size: 3.7vw;
	font-weight: bold;
	padding-top: 1.1vw;
	overflow: hidden;
}
#myWallet_myWallet .footprint_price_1{
	display: inline-block;
	margin-top: 1.3vw;
}
#myWallet_myWallet .footprint_price_button{
	margin-left: 16vw;
}
