#home_index {
    height: 100%;
    background-color: #FFFFFF;
    position: relative;
}
#home_index >div.header {
	background: rgba(0, 0, 0, .6);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 0, 0, .6)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 46px;
    transition: background .6s;
}
#home_index >div.header.on {
    background: #EA5514;
}
#home_index >div.header >a.scan { 
    background-image: url(../../images/common/scan.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    display: block;
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 54px;
    height: 34px;
}
#home_index >div.header >a.location {
    position: absolute;
    left: 0;
    bottom: 6px;
    font-size: 14px;
    color: #fff;
    height: 36px;
    width: 22%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px 10px;
    box-sizing: border-box;
}
#home_index >div.header >a.location span {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
}
#home_index >div.header >a.location::before {
    content: '';
    background-image: url(../../images/common/location.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    height: 19px;
    width: 14px;
    margin-top: 2px;
    margin-right: 2px;
}
#home_index >div.header >a.search {
    background: url(../../images/common/search.png) no-repeat;
    background-size: 100%;
    background-position-y: center;
    display: inline-block;
    position: absolute;
    margin: 0 auto 0;
    left: 0;
    right: 0;
    bottom: 6px;
    width: 52%;
    height: 34px;
}
/* banner start */
#home_index >div.main {
	overflow-x: hidden;
	overflow-y: auto;
    width: 100%;
}
#home_index >div.main >div.content .banner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#home_index >div.main >div.content .banner .hd {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    text-align: center;
}
#home_index >div.main >div.content .banner .hd ul {
    height: 7px;
    padding: 3px 5px;
    font-size: 0;
    vertical-align: top;
}
#home_index >div.main >div.content .banner .hd ul li {
    display: inline-block;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: rgba(255,255,255,.6);
    margin: 0 5px;
    vertical-align: top;
    overflow: hidden;
}
#home_index >div.main >div.content .banner .hd ul .on {
    background: #fff;
}
#home_index >div.main >div.content .banner .bd {
    position: relative;
    z-index: 0;
}
#home_index >div.main >div.content .banner .bd ul li {
    float: left;
    list-style: none;
}
#home_index >div.main >div.content .banner .bd li img {
    width: 100%;
    height: 49.13vw;
    background-color: #fff; 
}
#home_index >div.main >div.content .banner .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#home_index #home_index_banner_middle {
    margin-top: 15px;
    margin-bottom: 15px;
}
#home_index #home_index_banner_middle .bd li img {
    height: 27.78vw;
}
#home_index #home_index_banner_middle .hd {
    display: none;
}
/* banner end */
/* entrance start */
#home_index >div.main >div.content .entrance {
    width: 100%;
    background-color: #fff;
    text-align: center;
}
#home_index >div.main >div.content .entrance >div {
    width: 31%;
    height: 110px;
    margin-left: 1.5%;
    float: left;
}
#home_index >div.main >div.content .entrance >div img {
    margin-top: 15px;
    height: 82px;
}
/* entrance end */
/* news start*/
#home_index div.news {
    margin-bottom: 5px;
}
#home_index div.news img {
    width: 100%;
}
/* news end*/
/* recommend start*/
#home_index div.recommend {
    border-top: 1px solid #EFEFF4;
    border-bottom: 1px solid #EFEFF4;
    font-size: 0;
}
#home_index div.recommend >div {
    width: 50%;
    box-sizing: border-box;
    padding: 10px 15px;
    float: left;
    position: relative;
}
#home_index div.recommend >div >img {
    width: 100%;
}
#home_index div.recommend >div:first-child {
    border-right: 1px solid #EFEFF4;
}
#home_index div.recommend >div:last-child {
    border-right: 1px solid transparent;
}
#home_index div.recommend div.items {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    box-sizing: border-box;
    padding-bottom: 8px;
    padding-top: 5px;
}
#home_index div.recommend a.item {
    display: block;
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
#home_index div.recommend a.item:last-child {
    border-left: 1px solid #F3F3F3;
}
#home_index div.recommend a.item >img {
    max-width: 100%;
    max-height: 100%;
}
/* recommend end*/
/* products start */
#home_index >div.main >div.content .products {
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding-bottom: 10px;
}
#home_index >div.main >div.content .products.loading::after {
    content: '加载中···';
    padding: 15px;
}
#home_index >div.main >div.content .products.loaded::after {
    content: '已加载全部';
    padding: 15px;
}
#home_index >div.main >div.content .products div.item {
    width: 30%;
    display: inline-block;
    border: 1px solid #E0E0E4;
    padding: 8px 0 8px;
    box-sizing: border-box;
    margin-left: 2.5%;
    margin-bottom: 10px;
    float: left;
    height: 183px;
}
#home_index >div.main >div.content .products div.item img {
    max-width: 80%;
    max-height: 100px;
}
#home_index >div.main >div.content .products div.item p {
    margin: 0 0 5px;
    font-size: 14px;
    padding: 0 5px;
    min-height: 38px;
}
#home_index >div.main >div.content .products div.item a {
    background-color: #EA5514;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    margin-top: 2px;
    width: 70%;
    padding: 6px 0;
    font-size: 12px;
}
@media screen and (max-width: 350px) {
    #home_index >div.main >div.content .products div.row {
        padding-left: 1.3%;
    }
    #home_index >div.main >div.content .products div.item {
        height: 173px
    }
    #home_index >div.main >div.content .products div.item p {
        font-size: 12px;
    }
}
@media screen and (min-width: 410px) {
    #home_index >div.main >div.content .products div.row {
        padding-left: 1.7%;
    }
    #home_index >div.main >div.content .products div.item {
        height: 198px;
    }
}
/* products end */
#home_index >div.footer {
	background-color: #FFFFFF;
	border-top: 1px solid #D5D5D8;
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 56px;
}
#home_index >div.footer nav {
	text-align: center;
	width: 100%;
	height: 100%;
}
#home_index >div.footer nav >li {
    position: relative;
    display: block;
    color: #81858B;
    height: 100%;
    width: 25%;
    float: left;
}
#home_index >div.footer nav >li::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 50%;
    margin-top: 5px;
}
#home_index >div.footer span {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 8%;
	font-size: 14px;
}
@media screen and (min-width: 410px) {
	#home_index >div.footer {
		height: 60px;
		bottom: -1px;
	}
	#home_index >div.footer span {
		bottom: 6%;
	}
}
@media screen and (max-width: 350px) {
	#home_index >div.footer {
		height: 44px;
	}
	#home_index >div.footer span {
		font-size: 12px;
		bottom: 6%;
	}
}
#home_index >div.footer nav >li.active {
	color: #EA5514;
}
#home_index >div.footer nav >li:nth-child(1)::before {
    background-image: url(../../images/index/homeOff.png);
}
#home_index >div.footer nav >li:nth-child(1).active::before {
	background-image: url(../../images/index/homeOn.png);
}
#home_index >div.footer nav >li:nth-child(2)::before {
    background-image: url(../../images/index/carCrvOff.png);
}
#home_index >div.footer nav >li:nth-child(2).active::before {
    background-image: url(../../images/index/carCrvOn.png);
}
/* #home_index >div.footer nav >li:nth-child(3)::before {
    background-image: url(../../images/index/presentOff.png);
}
#home_index >div.footer nav >li:nth-child(3).active::before {
    background-image: url(../../images/index/presentOn.png);
} */
#home_index >div.footer nav >li:nth-child(3)::before {
    background-image: url(../../images/index/qr_code.png);
}
#home_index >div.footer nav >li:nth-child(3).active::before {
	background-image: url(../../images/index/qr_code_ck.png);
}
#home_index >div.footer nav >li:nth-child(4)::before {
    background-image: url(../../images/index/centerOff.png);
}
#home_index >div.footer nav >li:nth-child(4).active::before {
	background-image: url(../../images/index/centerOn.png);
}
#home_index_confirm {
    padding: 0;
}
#home_index_confirm >div >div {
    padding: 0 20px 10px;
    border-bottom: 1px solid #DCDADD;
}
#home_index_confirm >div >div::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #EA5514;
    border-radius: 30px;
    background: url(../../images/icon.png) no-repeat;
    background-size: 70%;
    background-position: center;
    margin: 15px auto;
}
#home_index_confirm >div >div >p {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
}
#home_index_confirm >div >button {
    border: none;
    outline: none;
    background: none;
    width: 50%;
    padding: 0;
    display: inline-block;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    float: left;
}
#home_index_confirm >div >button:last-child {
    border-left: 1px solid #DCDADD;
    color: #2FB823;
}