/* css reset start */

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
br,
hr,
table,
tr,
td,
dl,
dt,
dd,
form {
    margin: 0;
    padding: 0
}

html {
    overflow: hidden;
    height: 100%
}

body {
    font-family: "Microsoft YaHei", Arial;
    font-size: 14px;
    color: #434343;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%
}

.clear:after {
    content: '';
    display: block;
    clear: both
}

ul,
li {
    list-style: none
}

img {
    border: 0
}

a {
    text-decoration: none;
    color: #555
}

a:hover {
    color: #36f
}


/* css reset end */
