#carInfo_carInfo {
	overflow: hidden;
    width: 100%;
    background-color: #EFEFF4;
    height: 100%;
    position: relative;
}
#carInfo_carInfo >div.header {
	background-color: #EA5514;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 44px;
	font-size: 16px;
}
@media screen and (min-width: 410px) {
	#carInfo_carInfo >div.header {
		height: 48px;
	}
}
@media screen and (max-width: 350px) {
	#carInfo_carInfo >div.header {
		height: 40px;
	}
}
#carInfo_carInfo >div.header >a.goBack {
	background: url(../images/common/round_left.png) no-repeat;
	background-size: contain;
	display: inline-block;
    width: 28px;
    height: 28px;
    margin: 9px 0 0 12px;
}
#carInfo_carInfo >div.header >span.title {
	color: #fff;
    text-align: center;
    margin: auto;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 60%;
}
@media screen and (min-width: 410px) {
	#carInfo_carInfo >div.header >a.goBack {
	    width: 30px;
	    height: 30px;
	    margin: 9px 0 0 12px;
	}
	#carInfo_carInfo >div.header >span.title {
		height: 32px;
		line-height: 32px;
	}
}
@media screen and (max-width: 350px) {
	#carInfo_carInfo >div.header >a.goBack {
	    width: 24px;
	    height: 24px;
	    margin: 9px 0 0 12px;
	}
	#carInfo_carInfo >div.header >span.title {
		height: 26px;
		line-height: 26px;
	}
}
#carInfo_carInfo >div.main >div.info {
	height: 34px;
	background-color: #FFEED0;
	border: 1px solid #D6D6DB;
	margin-top: -1px;
}
#carInfo_carInfo >div.main >div.info i {
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-top: 5px;
	background-image: url(../images/common/info.png);
	margin-left: 14px;
}
#carInfo_carInfo >div.main >div.info span {
	color: #7F8389;
	position: relative;
    font-size: 14px;
	top: -6px;
    left: 10px;
}
@media screen and (max-width: 350px) {
	#carInfo_carInfo >div.main >div.info i {
		margin-left: 12px;
	}
}
#carInfo_carInfo >div.main div.carDetail >div {
	background-color: #fff;
	margin-bottom: 6px;
}
#carInfo_carInfo >div.main div.carDetail >div >div {
	padding: 9px 0;
    border-bottom: 1px solid #F6F6F6;
}
#carInfo_carInfo >div.main div.carDetail >div >div:last-child {
	border-bottom: none;
}
#carInfo_carInfo >div.main div.carDetail label {
    display: block;
    width: 100%;
}
#carInfo_carInfo >div.main div.carDetail span {
	color: #646872;
	width: 26%;
	display: inline-block;
	text-align: center;
}
#carInfo_carInfo >div.main div.carDetail input {
    display: inline-block;
	border: none;
	outline: none;
	font-size: 14px;
	padding: 5px;
    width: 48%;
}
#carInfo_carInfo >div.main div.carDetail i {
	background: url(../images/common/right.png) no-repeat;
    background-size: contain;
    display: inline-block;
    float: right;
    width: 14px;
    height: 14px;
    margin-right: 15px;
    margin-top: 6px;
}
#carInfo_carInfo >div.main div.carDetail small {
	float: right;
    margin-right: 24px;
    margin-top: 3px;
    font-size: 16px;
}
#carInfo_carInfo >div.main div.carDetail div.setDefault i {
    background-image: url(../images/common/check.png);
    margin: 6px 22px;
    display: none;
}
#carInfo_carInfo >div.main div.carDetail div.setDefault.default i {
    display: block;
}
#carInfo_carInfo >div.main div.carDetail button {
    display: block;
    margin: 0 auto;
    background-color: #EA5514;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 100px;
    margin-top: 15px;
    padding: 10px 0;
    width: 90%;
    font-size: 16px;
}
@media screen and (max-width: 350px) {
	#carInfo_carInfo >div.main div.carDetail, #carInfo_carInfo >div.main div.carDetail button, #carInfo_carInfo >div.main div.carDetail small {
		font-size: 14px;
	}
	#carInfo_carInfo >div.main div.carDetail span {
		width: 30%;
	}
}
#carInfo_carInfo >div.brandsModal {
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    display: none;
    background-color: #EFEFF4;
}
#carInfo_carInfo >div.brandsModal >div.title {
	height: 44px;
	background-color: #fff;
	border-bottom: 1px solid #F6F6F7;
	position: absolute;
	width: 100%;
	top: 0;
    z-index: 12;
}
#carInfo_carInfo >div.brandsModal >div.title >a.closeModal {
	display: block;
	float: left;
	height: 44px;
	width: 44px;
	background: url(../images/common/round_left_blue.png) no-repeat;
	background-size: 40%;
	background-position: center;
	padding-left: 15px;
}
#carInfo_carInfo >div.brandsModal >div.title >span {
	margin: auto;
    display: block;
    font-weight: 700;
    font-size: 16px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    width: 60%;
}
#carInfo_carInfo >div.brandsModal >div.brands {
	position: absolute;
	top: 44px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#carInfo_carInfo >div.brandsModal >div.brands >div.brand {
    background-color: #fff;
    height: 60px;
}
#carInfo_carInfo >div.brandsModal >div.brands >div.brand div.img {
    width: 25%;
    height: 60px;
    text-align: center;
    float: left;
}
#carInfo_carInfo >div.brandsModal >div.brands >div.brand img {
	height: 44px;
	width: 44px;
	margin-top: 8px;
}
#carInfo_carInfo >div.brandsModal >div.brands >div.brand div.bName {
	width: 75%;
	height: 59px;
	line-height: 60px;
	border-bottom: 1px solid #ECECEC;
	float: left;
}
#carInfo_carInfo >div.brandsModal >div.brands >h5 {
	background-color: #ECECEC;
	margin-top: -1px;
    text-indent: 5%;
    padding: 5px 0;
    font-size: 14px;
}
#carInfo_carInfo >div.brandsModal >div.brands >ul {
	position: fixed;
    top: 100%;
    right: 0;
    display: none;
}
#carInfo_carInfo >div.brandsModal >div.brands >ul >li {
	text-align: center;
	width: 40px;
    height: 4.2vh;
    line-height: 4.2vh;
}
#carInfo_carInfo >div.seriesModal {
    width: 100%;
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 12;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}
#carInfo_carInfo >div.seriesModal >div.seriesBox {
    height: 100%;
    width: 75%;
    position: absolute;
    right: -100%;
    top: 30px;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}
#carInfo_carInfo >div.seriesModal >h5 {
	background-color: #ECECEC;
	text-indent: 15px;
	font-size: 14px;
	color: #939393;
	height: 30px;
	line-height: 30px;
	width: 75%;
	position: absolute;
    right: -100%;
}
#carInfo_carInfo >div.seriesModal div.series:after {
	content: '';
	display: block;
	clear: both;
}
#carInfo_carInfo >div.seriesModal div.series >div.img {
    width: 40%;
    text-align: center;
    float: left;
    position: relative;
    height: 60px;
}
#carInfo_carInfo >div.seriesModal div.series img {
    max-width: 80px;
    max-height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
#carInfo_carInfo >div.seriesModal div.series >div.sName {
	width: 60%;
	height: 59px;
	line-height: 60px;
	float: left;
	border-bottom: 1px solid #ECECEC;
}
#carInfo_carInfo >div.carsModal {
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    display: none;
    background-color: #EFEFF4;
}
#carInfo_carInfo >div.carsModal >div.title {
	height: 44px;
	background-color: #fff;
	border-bottom: 1px solid #F6F6F7;
	position: absolute;
	width: 100%;
	top: 0;
    z-index: 12;
}
#carInfo_carInfo >div.carsModal >div.title >a.closeModal {
	display: block;
	float: left;
	height: 44px;
	width: 44px;
	background: url(../images/common/round_left_blue.png) no-repeat;
	background-size: 40%;
	background-position: center;
	padding-left: 15px;
}
#carInfo_carInfo >div.carsModal >div.title >span {
	margin: auto;
    display: block;
    font-weight: 700;
    font-size: 16px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    width: 60%;
}
#carInfo_carInfo >div.carsModal >div.carsBox {
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#carInfo_carInfo >div.carsModal >div.carsBox >p.car {
    border-bottom: 1px solid #F6F6F7;
    background-color: #fff;
    padding: 10px 15px;
}
#carInfo_carInfo_tip {
	position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20%;
    text-align: center;
    display: none;
}
#carInfo_carInfo_tip >span {
	background-color: #000;
    color: #fff;
    padding: 6px 14px;
    border-radius: 50px;
    font-size: 12px;
}