#home_myCars {
	overflow: hidden;
    height: 100%;
    background-color: #EFEFF4;
    position: relative;
}
#home_myCars >div.header {
	background-color: #EA5514;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 44px;
}
@media screen and (min-width: 410px) {
	#home_myCars >div.header {
		height: 48px;
	}
}
@media screen and (max-width: 350px) {
	#home_myCars >div.header {
		height: 40px;
	}
}
#home_myCars >div.header >a.goBack {
	background: url(../../images/common/round_left.png) no-repeat;
	background-size: contain;
	display: inline-block;
    width: 28px;
    height: 28px;
    margin: 8px 0 0 12px;
}
#home_myCars >div.header >span.title {
	color: #fff;
    text-align: center;
    margin: auto;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    top: 1px;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 60%;
    font-size: 16px;
}
#home_myCars >div.header >a.addNew {
	color: #fff;
	float: right;
    font-size: 14px;
	padding: 4px;
	margin: 8px;
}
@media screen and (min-width: 410px) {
	#home_myCars >div.header >a.goBack {
	    width: 30px;
	    height: 30px;
	}
	#home_myCars >div.header >span.title {
		height: 32px;
		line-height: 32px;
	}
	#home_myCars >div.header >a.addNew {
		margin: 10px;
	}
}
@media screen and (max-width: 350px) {
	#home_myCars >div.header >a.goBack {
	    width: 24px;
	    height: 24px;
	}
	#home_myCars >div.header >span.title {
		height: 26px;
		line-height: 26px;
	}
	#home_myCars >div.header >a.addNew {
		margin: 6px;
	}
}
#home_myCars >div.main {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    top: 44px;
}
@media screen and (min-width: 410px) {
    #home_myCars >div.main {
        top: 48px;
    }
}
@media screen and (max-width: 350px) {
    #home_myCars >div.main {
        top: 40px;
    }
}
#home_myCars >div.main >div.cars {
	padding: 15px 15px 0;
}
#home_myCars >div.main >div.cars >div.car {
	border: 1px solid #fff;
	background-color: #fff;
	position: relative;
	border-radius: 5px;
	margin-bottom: 15px;
}
#home_myCars >div.main >div.cars >div.car::after {
	content: "";
	display: block;
	clear: both;
}
#home_myCars >div.main >div.cars >div.car.default {
	border-color: #EA5514;
}
#home_myCars >div.main >div.cars >div.car >i {
    position: absolute;
    font-style: normal;
    left: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 15px;
    color: #A9A9A9;
    display: block;
    height: 36px;
    width: 70px;
    line-height: 36px;
    text-indent: 10px;
}
#home_myCars >div.main >div.cars >div.car >span {
	position: absolute;
	right: 12px;
	bottom: 0;
}
#home_myCars >div.main >div.cars >div.car.default::before {
	content: "";
	display: inline-block;
	background: url(../../images/common/default.png) no-repeat;
	background-size: contain;
	position: absolute;
	height: 36px;
	width: 36px;
    left: 8px;
}
#home_myCars >div.main >div.cars >div.car.default >i {
	display: none;
}
#home_myCars >div.main >div.cars >div.car >span a {
	display: inline-block;
	font-size: 14px;
	color: #A9A9A9;
    height: 36px;
    width: 50px;
    line-height: 36px;
}
#home_myCars >div.main >div.cars >div.car >span a::before {
	content: "";
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 14px;
    position: relative;
    top: 1px;
}
#home_myCars >div.main >div.cars >div.car >span a.modify::before {
	background-image: url(../../images/common/edit_1.png);
}
#home_myCars >div.main >div.cars >div.car >span a.delete::before {
	background-image: url(../../images/common/delete.png);
}
#home_myCars >div.main >div.cars >div.car >div {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 12px;
    margin-bottom: 36px;
}
#home_myCars >div.main >div.cars >div.car img {
	width: 70px;
	margin-top: 5px;
}
#home_myCars >div.main >div.cars >div.car h4 {
	margin: 0;
}
#home_myCars >div.main >div.cars >div.car p {
	margin: 8px 0;
	padding: 0 5px;
	color: #A9A9A9;
	font-size: 14px;
}
#home_myCars >div.main >div.cars >div.noCar {
	text-align: center;
}
#home_myCars >div.main >div.cars >div.noCar img {
	width: 60%;
	margin: 20px 0 10px;
}
#home_myCars >div.main >div.cars >div.noCar p {
	color: #929293;
}
#home_myCars >div.main >div.cars >div.noCar a {
	display: inline-block;
	margin-top: 5px;
	width: 120px;
	height: 36px;
	line-height: 36px;
	border-radius: 20px;
	color: #EA5514;
	border: 1px dashed #EA5514;
	font-size: 16px;
}
#home_myCars >div.confirm {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}
#home_myCars >div.confirm h4 {
    height: 50px;
    margin: 0;
    line-height: 51px;
    text-align: center;
}
#home_myCars >div.confirm p {
    color: #999;
    border-bottom: 1px solid #D6D6DB;
    padding: 0;
    margin: 0;
    height: 50px;
    line-height: 30px;
    text-align: center;
}
#home_myCars >div.confirm >div {
    height: 140px;
    width: 260px;
    position: absolute;
    background-color: #fff;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#home_myCars >div.confirm >div::after {
    content: '';
    display: block;
    clear: both;
}
#home_myCars >div.confirm button {
    width: 47%;
    height: 39px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}